/*reservation administration popup*/
#prodcont .chosen-container {
	z-index:10001;
}
@media (max-width: 768px) {
    .tablepanel {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.bootstrap .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.waiting {
	border-width: 1px;
	border-color: #CCC;
	border-radius: 3px;
	background-color: #FFF;
	text-align: center;
	min-height: 28px;
	margin:20px;
	height: 48px;
}
.subhint, .hidehint {
	color: #31b0d5;
	font-style: italic;
	background-color:#f8fcfe;;
	border-radius: 3px;
	padding: 2px;
	display: block;
}
.myOwnConfigPanel {
	width:95%;
	margin-top:15px
}
.bootstrap span.mylabel-tooltip {
	font-weight: bold;
	background-color: #BDE5F8;
	padding:1px 3px;
	line-height: 20px;
	cursor: default;
	display: inline;
	position: relative;
	color:rgb(102, 102, 102);
	opacity: 100;
}
.bootstrap-tagsinput {
width: 70%;
}
.bootstrap-tagsinput input {
	display: inline-block !important;
	width:145px;
}
.bootstrap .label-week {
	padding: 2px 5px;
    margin: 3px;
    border-radius: 2px;
    border: 1px solid #00aff0;
    background-color: #3ecbff;
    color: #fff;
}
.bootstrap .label-week::before { 
  content: "W";
  color: #DDD;
}
.label-default, .bootstrap .label-default {
	font-weight: bold;
	padding:1px 3px;
	line-height: 20px;
	background-color: #FFF;
}
.myownr_options {
	background-color: rgb(0, 175, 240);
	
}
#pricesruleParamWeeks .tagify-container > span {
    border: 1px solid #79bd3c;
    background-color: #93cd60;
    color: white;
}
.bootstrap .table tbody > tr.myownr_options > td {
	color:#FFF;
}
.bootstrap .table tbody > tr.myownr_options > td input {
	color:rgb(102, 102, 102);
}
#container_category_tree a{
	font-weight: normal;
}
/*------------ resa details -----------*/
.resa_details_period {
	clear:both;
	/*font-weight:bold;
	font-size:14px;
	color : rgb(234, 237, 239);*/
	text-align:center;
	text-shadow: 0 1px 0 #fff;
	
}

.resa_details_period .day_panel {
	float:left;
	width:60px
}
.reservationContent .table tbody > tr > .day_head {
	/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border:solid 1px rgb(220, 20, 60);
	border-bottom:0px;
	font-size: 11px;
	padding:2px 1px;
	background-color: rgb(220, 20, 60);
	color:#FFF;*/
	text-align:center;
	font-size: 11px;
	line-height: 14px;
	border-bottom-width:0px;
	padding:0px; 
}

.reservationContent .table tbody > tr > td.day_body {
	/*border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color:rgb(102, 102, 102);
	text-align:center;
	line-height:40px;
	border:solid 1px rgb(204, 204, 204);
	border-top:0px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 0px 0px, rgb(255, 255, 255) 0px 0px 0px 3px inset;*/
	text-align:center;
	border-bottom-width:0px;
}
.reservationContent15 a.btn-subpos {
	width:100%;text-align:right;height: 1px;line-height:44px;padding-right:4px;
	cursor: pointer;
}

.resa_details_period .day_body span.dayNumber {
	font-size: 15px;
	font-weight: bold;
}
.resa_details_period .day_body span.dayName {
	font-size: 11px;
}
.resa_details_period span.legend {
	color: rgb(102, 102, 102);
	font-style: italic;
}

.resa_details_period .arrow {
	margin:5px 0px;
	float:left;
	width:15px;
	height:12px;
	background: no-repeat url('../../../../img/admin/separator_breadcrumb.png');
	background-position:center; 
}
.resa_details_period .period {
	display: inline-block; 
}
.resa_details_period .right_period {
	margin-left:25px;
}
.resa_details_period .left_period {
	margin-right:25px;
}

/*------------PS 1.6 style copy-----------*/

.reservationContent16 .page-head-myown {
	width: 100%;
	height: 55px;
	padding: 0 0 0 0;
	margin: 0;
	border-bottom: 4px solid #71b238;
	background-color: #8bc954;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 7px 0;
	box-shadow: rgba(0, 0, 0, 0.15) 0 7px 0;
}

.reservationContent16 .page-front-head-myown {
	width: 100%;
	height: 55px;
	padding: 0 0 0 0;
	margin: 0;
	border-bottom: 4px solid rgb(119, 119, 119);
	background-color: rgb(214, 212, 212);
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 7px 0;
	box-shadow: rgba(0, 0, 0, 0.15) 0 7px 0;
}

.reservationContent16 .page-head h2.page-title {
	position: relative;
	padding: 23px 0 0 10px;
	margin: 0;
	font: 300 22px/1em "Open Sans", Helvetica, Arial, sans-serif;
	color: white;
	float:left;
}

.reservationContent16.frontContent .page-head h2.page-title {
	position: relative;
	padding: 23px 0 0 10px;
	margin: 0;
	font: 300 22px/1em "Open Sans", Helvetica, Arial, sans-serif;
	color: black;
	float:left;
}

.reservationContent16 .nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.reservationContent16 .pull-right {
	float: right !important;
}
.reservationContent16 ul {
	margin-top: 0;
	margin-bottom: 8.5px;
}
.reservationContent16 .toolbar_btn {
	height: 46px;
	position: relative;
	padding: 2px 5px !important;
	margin-right: 3px;
	font-size: 12px;
	color: white;
	text-align: center;
	text-shadow: none;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.reservationContent16 a.toolbar_btn_myown i {
    font-size: 28px;
    display: block;
    /*background-color: #8bc954;*/
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-size: 26px;
}

.reservationContent16 a.toolbar_btn_front_myown i {
    font-size: 28px;
    display: block;
    width: 30px;
    height: 30px;
    background-size: 26px;
}

.reservationContent16 .toolbar_btn-myown {
	background-color: #8bc954;
}
.reservationContent16 .nav-pills > li {
	float: left;
}
.reservationContent16 .nav-pills > li > a {
	border-radius: 3px;
	box-sizing: border-box;
}
.reservationContent16 .nav > li > a> span {
	box-sizing: border-box;
}
.reservationContent16 .nav-pills > li > a > i {
	box-sizing: border-box;
	margin-bottom: 0px;
	margin-top: 0px;
}
.reservationContent16 .nav > li {
	position: relative;
	display: block;
	 list-style: none;
	box-sizing: border-box;
}
.reservationContent16 .page-head a {
	color: white;
	text-decoration: none;
}
.reservationContent16.frontContent .page-head a {
	color: rgb(72, 72, 72);
	text-decoration: none;
}
.reservationContent16 .toolbar_btn_myown:hover {
	 color: #8bc954;
	 border-color: white;
	 background-color: white !important;
}
.reservationContent16 .toolbar_btn_front_myown:hover {
	 color: rgb(119, 119, 119);
	 border-color: white;
	 background-color: white !important;
}
.reservationContent16 .nav > li > a { 
	position: relative;
	display: block;
	padding: 10px 15px;
}
.reservationContent16 .page-head .toolbarBox > ul.nav { position: relative; top: 3px;  }
.bootstrap .nav-tabs li.active a, .bootstrap .nav-tabs li.active a:hover, .bootstrap .nav-tabs li.active a:focus {
    background-color: #fff;
    z-index: 100;
}


.reservationContent16 .panel {
	position: relative;
	padding: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: solid 1px #e6e6e6;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0, white 0 0 0 3px inset;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0, white 0 0 0 3px inset;
}

.reservationContent16 .panel .panel-heading {
	font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #555555;
	height: 32px;
	margin-bottom: 0px;
}

.reservationContent16 .panel-heading {
	border: none;
	padding: 0 0 0 5px;
	margin: -20px -16px 5px -16px;
	font-size: 1.2em;
	line-height: 2.2em;
	height: 2.2em;
	text-transform: uppercase;
	border-bottom: solid 1px #eeeeee;
}

.reservationContent16 .panel-heading {
	padding: 5px 5px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.reservationContent16 .panel-heading .badge {
	color: #555555;
	font-size: 1.1em;
	line-height: 1.2em;
	padding: 0 10px;
	font-weight: 700;
	margin-left: 0.4em;
}

.reservationContent16 .badge.badge-success {
	background-color: #5cb85c;
	border:0px;
	color: white;
}
.reservationContent16 .badge.badge-warn {
	background-color:rgb(255, 140, 0);
	border:0px;
	color: white;
}
.reservationContent16 .badge.badge-error {
	background-color:#E08F95;
	border:0px;
	color: white;
}

.reservationContent16 .badge {
	padding: 1px 5px;
	font-weight: normal;
	font-size: 12px;
	line-height: inherit;
	letter-spacing: 0.0625em;
	border: solid 1px #d9d9d9;
	background-color: white;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
.reservationContent16 .badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 11px;
	font-weight: bold;
	color: rgb(85, 85, 85);
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	border-radius: 10px;
}
.reservationContent16 .badge-success {
	color: white;
}
.reservationContent16 a { color: #00aff0; text-decoration: none; }
.reservationContent16 .panel {
	color: rgb(102, 102, 102);
}

#content.nobootstrap {
	padding: 80px 10px;
}


.reservationContent16 .btn { display: inline-block; text-transform: none; margin-bottom: 0; font-weight: normal; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 4px 8px; font-size: 12px; line-height: 1.42857; border-radius: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.reservationContent16 .btn:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.reservationContent16 .btn:hover, .reservationContent16 .btn:focus { color: #555555; text-decoration: none; }
.reservationContent16 .btn:active, .reservationContent16 .btn.active { outline: 0; background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.reservationContent16 .btn.disabled, .reservationContent16 .btn[disabled], fieldset[disabled] .reservationContent16 .btn { cursor: not-allowed; pointer-events: none; opacity: 0.65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }
.reservationContent16 .btn-default { color: #555555; background-color: white; border-color: #cccccc; }
.reservationContent16 .btn-default:hover, .reservationContent16 .btn-default:focus, .reservationContent16 .btn-default:active, .reservationContent16 .btn-default.active { color: #555555; background-color: #ebebeb; border-color: #adadad; }

.reservationContent16 .well { min-height: 20px; padding: 9px; margin-bottom: 10px; background-color: #fcfdfe; border: 1px solid #e1ebf5; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.reservationContent16 .table { border-collapse: separate; border-spacing: 0 2px 0 0; margin-bottom: 5px; }
.reservationContent16 .table thead > tr > th { border: none; font-weight: normal; vertical-align: top; border-bottom: solid 1px #a0d0eb; }
.reservationContent16.frontContent .table thead > tr > th { border: none; font-weight: normal; vertical-align: top; border-bottom: solid 3px rgb(233, 233, 233); font: 600 12px/16px "Open Sans", sans-serif; text-transform: uppercase; }
.reservationContent16 .table thead > tr > th span.title_box { color: #656565; display: block; word-wrap: nowrap; white-space: nowrap; }
.reservationContent16 .table thead > tr > th span.title_box.active { font-weight: bold; }
.reservationContent16 .table thead > tr > th span.title_box a { text-decoration: none; }
.reservationContent16 .table thead > tr > th span.title_box a.active { color: black; }
.reservationContent16 .table thead > tr.filter > th { background-color: #ecf6fb; }
.reservationContent16 .table thead > tr.filter > th input[type="text"].filter, .reservationContent16 .table thead > tr.filter > th input[type="password"].filter, .bootstrap .table thead > tr.filter > th select.filter { font-size: 11px; padding: 0 4px; border-color: #a0d0eb; }
.reservationContent16 .table input, .reservationContent16 .table select { margin: 0; }
.reservationContent16 .table tbody > tr > td { border-top: none; color: #666666; background-color: white; padding: 3px 7px; vertical-align: middle; word-wrap: nowrap; font-size: 12px; border-bottom: solid 1px #eaedef; }
.reservationContent16 .table tbody > tr.odd > td { background-color: #fcfdfe; }
.reservationContent16 .table tbody > tr.hov:hover > td { background-color: #f4f8fb; }
.reservationContent16 .table td.center, .reservationContent16 .table th.center { text-align: center; }
.reservationContent16 .table td.pointer { cursor: pointer; }


.reservationContent16 .alert.alert-warning, .bootstrap #carrier_wizard .alert-warning.wizard_error { padding-left: 50px; position: relative; border: none; border-left: solid 3px #f4c178; }
.reservationContent16 .alert.alert-warning:before, .bootstrap #carrier_wizard .alert-warning.wizard_error:before { position: absolute; top: 6px; left: 7px; display: block; height: 25px; width: 25px; color: #f4c178; }
.reservationContent16 .alert.alert-danger, .reservationContent16 #carrier_wizard .wizard_error { padding-left: 50px; position: relative; border: none; border-left: solid 3px #e17875; }
.reservationContent16 .alert.alert-danger:before, .reservationContent16 #carrier_wizard .wizard_error:before { position: absolute; top: 6px; left: 7px; display: block; height: 25px; width: 25px; color: #e17875; }
.reservationContent16 .alert.alert-success, .reservationContent16 #carrier_wizard .alert-success.wizard_error { padding-left: 50px; position: relative; border: none; border-left: solid 3px #7cc67c; }
.reservationContent16 .alert.alert-success:before, .reservationContent16 #carrier_wizard .alert-success.wizard_error:before { position: absolute; top: 6px; left: 7px; display: block; height: 25px; width: 25px; color: #7cc67c; }
.reservationContent16 .alert.alert-info, .reservationContent16 #carrier_wizard .alert-info.wizard_error { padding-left: 50px; position: relative; border: none; color: #31b0d5;  border-left: solid 3px #81cfe6; background-color: #f8fcfe; }
.reservationContent16 .alert.alert-info:before, .reservationContent16 #carrier_wizard .alert-info.wizard_error:before { position: absolute; top: 6px; left: 7px; display: block; height: 25px; width: 25px; color: #81cfe6; }

/*------------PS 1.6 CORRECTION-----------*/

.bootstrap span.tooltip {
	opacity: 100;
	z-index: 0;
}

.bootstrap #panelSelection tbody > tr > td, .bootstrap #panelNotif tbody > tr > td, .bootstrap #panelPrice tbody > tr > td, .bootstrap #panelQty tbody > tr > td, .bootstrap #panelOccupation tbody > tr > td, .bootstrap #panelLength tbody > tr > td, .bootstrap #panelPriceRule tbody > tr > td, .bootstrap #panelOption tbody > tr > td, .bootstrap #panelFee tbody > tr > td {
background: transparent;
}

.bootstrap .input-group-addon {
	width:auto;
}

/*------------PS 1.5 style copy-----------*/

.reservationContent15 ul.cc_button {
	float:right;
	margin:0 5px 0 0;
	padding:0;
}
.reservationContent15 ul.cc_button li {
	color: #666666;
	float: left;
	height: 48px;
	list-style: none outside none;
	padding: 1px 1px 3px 4px;
	text-align: center;
}
.reservationContent15 a.toolbar_btn {
	border:1px solid #f8f8f8;
	min-width:50px;
	border-width: 1px;
	font-size:11px;
	cursor: pointer;
	display: block;
	float: left;
	padding: 3px 5px;
	white-space: nowrap;
	text-shadow: 0 1px 0 #ffffff;
}

.reservationContent15 a.toolbar_btn:hover { 
	background-color:#fff;
	border:1px inset #ccc;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.reservationContent15 a.toolbar_btn div {
	display: none;
}
.reservationContent15 .toolbar_btn span{
	display: block;
	float: none;
	height: 32px;
	margin: 0 auto;
	width: 32px;
	/*hacking ie7*/ margin:0 !ie; position:relative !ie;
}

.reservationContent15 .process-icon-cancel, .toolbarBox .toolbar-cancel {
	background-image: url('../img/process-icon-cancel.png');
}
.reservationContent15 .process-icon-save-and-stay {
	background-image: url('../img/process-icon-save-and-stay.png');
}
.reservationContent15 .process-icon-delete {
	background-image: url('../img/process-icon-delete.png');
}
			
/*------------MOD HEADER-----------*/

.header_button{
	background-color:#cfe0e5;
	border:1px solid #9dbcc6;
	border-left:1px solid #eff2f3;
	border-top:1px solid #E2EBEE;
	color:#693F03;
	padding:3px;
	margin-top: 15px;
	font-weight:bold;
}
.header_button_hover{
	background-color:#FFF6D3;
	border: 1px solid #FFF6D3;
	border-left: 1px solid #DFD5AF;
	border-top: 1px solid #DFD5AF;
	color:#693F03;
	cursor: pointer;
	font-weight:bold;
}
.header_button:hover{
	background-color:#FFF6D3;
	border: 1px solid #FFF6D3;
	border-left: 1px solid #DFD5AF;
	border-top: 1px solid #DFD5AF;
	color:#693F03;
	cursor: pointer;
	font-weight:bold;
}
.header_button_selected{
	background-color:#FFF6D3;
	border: 1px solid #FFF6D3;
	border-left: 1px solid #DFD5AF;
	border-top: 1px solid #DFD5AF;
	color:#693F03;
	cursor: pointer;
	font-weight:bold;
}



/*------------RESA POPUP-----------*/


.reservationContent {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#9C9C9C');
	color:black !important;
	padding-left: 10px;
	padding-right: 10px;
}
.reservationContent15 {
	background: #CCCCCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#9C9C9C));
	background: -moz-linear-gradient(top, #CCCCCC, #9C9C9C);
}
.reservationContent16 {
	background: #FFF;
}
.reservationContent .pageTitle h3 {
	font-size: 1.6em;
	font-weight: normal;
	line-height: 52px;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
}

.reservationContent .header {
	color: #FFF;
	padding:5px;
	text-align: center;
	font-size: 16px;
	font-weight: Bold;
}

.reservationContent .product_label div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.status_label {
	padding: 2px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-size: 11px;
}
.reservationContent .summary td {
	border-bottom: solid 1px #FFF;
	padding-top: 2px;
}
.reservationContent .summary td.title {
	font-size: 14px;
	border:none;
}
.reservationContent .summary td.legend {
	font-size: 12px;
	border:none;
}
.reservationContent .summary {
	border-collapse: collapse;
}

div.reservationActions {
	box-shadow: 0px 3px 3px 0px grey inset;	
	background: rgb(255, 255, 240);
}
.reservationActions .title {
	font-size: 14px;
	color:rgb(38, 140, 205);
	font-weight: bold;
	height: 20px;
	margin-left: 10px;
	padding-top: 4px;
}
.reservationActions .content {
	color:#000;
	line-height: 18px;
	margin-left: 10px;
}
.reservationActions .actions {
	text-align: right;
	height: 30px;
	margin-right: 10px;
}
.reservationActions .actions input {
	text-align:left;
	padding-left:22px;
	background:#FFF6D3;
	margin:2px 10px;
}

div.reservationSuccess {
	box-shadow: 0px 3px 3px 0px grey inset;	
	height:30px;
	padding:7px;
	padding-left:30px;
	border-bottom:solid 1px #019609;
	background:#CCFFCD no-repeat 4px 6px url('../../../img/admin/ok.gif');
}
div.reservationError {
	box-shadow: 0px 3px 3px 0px grey inset;	
	height:30px;
	padding:7px;
	padding-left:30px;
	border-bottom:solid 1px #DF7B7B;
	background:#FFE6E6 no-repeat 4px 6px url('../../../img/admin/nav-logout.gif');
}


/*------------UTILS-----------*/

span.color_field {
	font-size: 11px;
	padding: 2px 5px;
	border-radius: 3px;
	text-transform: uppercase;
	color:white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.myowndeliveriesSettingsLegend {
	float: left;
	text-align: left;
	font-style:normal;
	font-size:11px;
	color:#666;
	margin-left:10px;
	margin-bottom:8px;
	padding-top:0px;
	margin-top:0px;
	vertical-align:text-top;
}
.myowndeliveriesSettingsLegend a {
	color:#009;
	text-decoration:underline;
}
.shippingList {
	width: 400px;
	float: right;
	margin-bottom: 10px;
}
.shippingList li {
	margin: 5px;
	display: block;
	clear: both;
}

.myowndeliveriesSettingsForm {
	float: left;
	text-align: left;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:13px;
	height:13px;
	vertical-align:text-bottom;
}
.myowndeliveriesSettingsLabel {
	float: left;
	text-align: left;
	vertical-align:text-bottom;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:12px;
	height:22px;
	width:250px;
}

/*------------ADMIN MENU-----------*/


h2.module_head_title {
	font-family : 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
	margin:0px;
	margin-top:0px;
	padding-left:12px;
	font-size: 24px;
}
#container_category_tree {
	padding-bottom:0px;
	padding-left:50px;
}


.module_bar_admin {
    font-family : Trebuchet,Arial,Helvetica,sans-serif;
    font-size: 1.25em;
    padding:0px;
    border: 1px solid #999999;
    background-color:#E2EBEE;
    margin-bottom:0px;
	width:120px;
}
.module_bar_admin_selected {
    font-family : Trebuchet,Arial,Helvetica,sans-serif;
    font-size: 1.25em;
	font-weight:bold;
    padding:0px;
    border: 1px solid #999999;
	border-bottom:none;
    margin-bottom:20px;
	width:120px;
	height:20px;
	background-color: ivory;
}
.module_bar_admin_menu {
    width:120px;
    height:100%;
    cursor:pointer;
    padding: 5px;
    padding-bottom: 2px;
    font-size: 14px;
    color:#693F03;
}

td.module_bar {
    font-family : Trebuchet,Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding:0px;
	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
	vertical-align:text-bottom;
	border: 0px;
	padding: 3px;
	padding-top:1px;
	white-space: nowrap;
}
td.module_bar img {
	margin-right:5px;
	margin-left:5px;
	vertical-align: middle;
}
a.module_bar, a.module_bar_selected, a.module_bar_disabled {
    height:100%;
    cursor:pointer;
    padding: 2px;
    padding-bottom: 0px;
    padding-right:10px;
    font-size: 13px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 0px;
    background-color: #e5e5e5;
    display: block;
    text-decoration: none;
}
a.module_bar15 {
    background-color: #e5e5e5;
}
a.module_bar16 {
    background-color: #fff;
}
a.module_bar:hover {
	background-color: rgb(73, 178, 255);
	color:#FFF;
	text-shadow: rgb(50, 147, 214) -1px -1px 0px;
	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}
a.module_bar_selected {
	background-color: rgb(73, 178, 255);
	color:#FFF;
	text-shadow: rgb(50, 147, 214) -1px -1px 0px;
}
a.module_bar_disabled {
	background-color: #CCC;
	color:#444;
}
a.module_bar_disabled:hover {
	cursor: default;
}

.module_bar_logo {
	padding-bottom:6px;
}
.module_bar_header {
	padding-bottom:6px;
}


.admin_extra_button{
	color: #454544;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CECECE;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	background-color:rgb(255, 246, 211);
	border-radius: 5px;
	background-position: 3px 3px;
	background-repeat:no-repeat;
}
.admin_prev_button{
	color: #454544;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CECECE;
	right: 61px;
	background: url(../img/scheduler/arrow_left.png) no-repeat center center;
	width: 46px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.admin_next_button{
	color: #454544;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CECECE;
	right: 61px;
	background: url(../img/scheduler/arrow_right.png) no-repeat center center;
	width: 46px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left:0px;
}

/*------------ CONFIG-----------*/
.table select.listElemHour, .myowndlist select.listElemHour  {
	font-weight: normal;
	width:50px;
	display: inline-block;
	margin-top: 6px;
	opacity:100;
	position: relative;
}
.bootstrap .listElemDescription h4 {
	font-weight:bold;
	margin-top:5px;
	margin-bottom:6px;
}
.li-label {
	width: 160px;
	text-align: right;
	float: left;
	padding:5px;
	padding-top: 7px;
	list-style-type: none;
}
.bootstrap .li-label {
	margin-bottom: 0px;
}
.sub-li-label {
	width:140px;
	height:18px;
	float: left;
	text-align: left;
	vertical-align:text-bottom;
	margin-bottom:0px;
	padding-bottom:0px;
	font-size:12px;
}
.shipLabel {
	width: 230px;
	float: left;
	text-align: left;
	padding:5px;
	list-style-type: none;
}
.myowndlist {
    list-style-type: none;
    padding:5px;
    width:100%;
    margin-bottom:0px;
}

.settingsPanel {
	border-top-style:none;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#999999;
	align:center;
	padding:0px;
	padding-bottom:1px;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#999999;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#999999;
}

.settingsList li {
	display: block;
	clear: both;
	margin:0px;
}

.upsInput {
	float: left;
}
/*
h1 {
	font-size:28px;
	margin:2px;
}
*/
.aboutBar {
    height:21px;
    background-color:#333;
    color:#EEE;
    font-size:10px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    padding-left:4px;
    text-align:center;
    vertical-align:text-bottom;
}
.aboutBar a {
    color:#3398CC;
}
.configbutton {
	background-color: #DDD;
	border: 1px solid #B0B0B0;
	border-left: 1px solid #EEE;
	border-top: 1px solid #EEE;
	color: #444;
	padding: 3px;
}
.myHeader {
	padding: 3px;
	border-bottom-color: grey;
	border-bottom-width: 0px;
	border-bottom-style: none;
}
.headerTitle {
	font-size: 13px;
	font-weight: bold;
	color: #268CCD;
	text-align: center;
	padding: 0px;
}




/* TIMESLOT */
.clipjour{height:60px;border-bottom:1px solid #e0e0e0;background:#fff;margin-bottom:0px;}
.clipjour:hover{background:#d9f1f9;}
.clipjour .jour{position:absolute;width:130px;height:60px;cursor:pointer;}
.clipjour .jour .switch{position:absolute;margin:22px 0 0 20px;}
.clipjour .jour .btn-group{margin:14px 0 0 0px;width:100%}
.clipjour .jour .list-action-enable{width:70%;text-align: left;}
.clipjour .jour p{position:absolute;margin:22px 0 0 60px;}
.clipjour .sep{position:absolute;width:1px;height:16px;margin:22px 0 0 136px;background:#d8dce4;}
.clipjour .duplication{position:absolute;width:35px;height:35px;margin:12px 0 0 913px;background:url(../img/action_picto.png) no-repeat 0 -140px;cursor:pointer;}
.clipjour .duplication:hover{background-position:0 -175px;}
.clipjour .barrejour{position:absolute;width:742px;height:16px;background:#e3e3e3;border:1px solid #e0e0e0;margin:21px 0 0 154px;border-radius:3px;}
.clipjour.of .barrejour{background:#e27c79;}
.clipjour .barrejour .plage{position:absolute;height:16px;background:#93cd60;border-radius:3px;}
.clipjour .barrejour .plage.hov{background:#00a1d5;}
.clipjour.of .barrejour .plage{display:none;}
.clipjour .barrejour .plage.profil2{background-image:url(../img/planning_fondbarre_profil2.gif);}
.clipjour .barrejour .plage.profil3{background-image:url(../img/planning_fondbarre_profil3.gif);}
.clipjour .barrejour .plage.profil4{background-image:url(../img/planning_fondbarre_profil4.gif);}
.clipjour .barrejour .plage .curseur{position:absolute;height:28px;width:18px;border-radius:5px;box-sizing: content-box;-webkit-box-sizing: content-box;margin-top:-8px;border:1px solid transparent;z-index:1;}
.clipjour .barrejour .plage .curseur i{display:none;font-size:12px;}
.clipjour .barrejour .plage .curseur span{position:absolute;font-size:10px;color:#999;width:26px;text-align:center;margin:-8px 0 0 0px;transition:all ease 0.3s;}
.clipjour .barrejour .plage .curseur.fin span{margin:24px 0 0 0px;}
.clipjour .barrejour .plage .curseur.on{z-index:100;background:#fff;-webkit-box-shadow: #e6e6e6 0 -2px 0 inset;box-shadow: #e6e6e6 0 -2px 0 inset;border: 1px solid #cccccc;border-radius:3px;cursor:pointer;}
.clipjour .barrejour .plage .curseur.deb{border-top-right-radius:0px;border-bottom-right-radius:0px;}
.clipjour .barrejour .plage .curseur.on i{display:block;z-index:100;margin-top:11px;}
.clipjour .barrejour .plage .curseur.on span{margin-top:-14px;color:#000}
.clipjour .barrejour .plage .curseur.fin.on span{margin-top:30px;}
.clipjour .barrejour .plage .menu{display:none;position:absolute;box-sizing: content-box;-webkit-box-sizing: content-box;margin-top:-8px;}
.clipjour .barrejour .plage .menu button{height:30px;width:18px;padding:4px 2px;border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:0px}
.clipjour .barrejour .plage .menu.on {display:block;z-index:100;}
.clipjour .barrejour .plage .dropdown-menu.on li {display:block;z-index:100;}
.clipjour .barrejour .plage .dropdown-menu.on li a {display:block;z-index:100;}
.clipjour .barrejour .plage .menu.on i{display:block;margin-top:4px;}
#infobulle{display:none;position:absolute;z-index:2;width:154px;height:66px;padding:22px 12px 0 35px;background:url(../img/planning_infobulle.png) no-repeat;font-size:11px;color:#666;margin:30px 0 0 90px;}
#valid_planning{text-align:right;margin:30px 60px 0 0;}
#reinitialiser{font-size:12px;cursor:pointer;margin-right:20px;}
#reinitialiser:hover{text-decoration:underline;color:#333;}

#menucontextuel{position:absolute;z-index:3;display:none;width:220px;background:#fff;border:1px solid #ccc;line-height:30px;padding:10px 0;box-shadow:5px 5px 0 rgba(0,0,0,0.1);border-radius:3px;}
#menucontextuel.on{display:block;}
#menucontextuel em{position:absolute;width:22px;height:25px;background:url(../img/menu_pointe.png) no-repeat;margin:10px 0 0 -22px;}
#menucontextuel span{display:block;margin:0 10px 0 10px;padding:0 20px 0 40px;cursor:pointer;background-repeat:no-repeat;background-position:5px 8px;}
#menucontextuel span.t{color:#00a1d5;font-weight:700;cursor:default;padding:0 5px 5px 5px;line-height:18px;cursor:default;}
#menucontextuel span:hover{color:#fff;background-color:#e6e6e6;border-radius:2px;color:#333;}
#menucontextuel span.t:hover{color:#00a1d5;background:transparent;}
#menucontextuel span#ct1{background-image:url(../img/planning_fondbarre_profil1.gif);}
#menucontextuel span#ct2{background-image:url(../img/planning_fondbarre_profil2.gif);}
#menucontextuel span#ct3{background-image:url(../img/planning_fondbarre_profil3.gif);}
#menucontextuel span#ct4{background-image:url(../img/planning_fondbarre_profil4.gif);}

#planning_legende{height:60px;background:#ddd;cursor:default;}
#planning_legende p{font-size:12px;width:180px;position:absolute;background:url(../img/planning_legende.gif) no-repeat center bottom;height:48px;padding-top:8px;text-align:center;}
#planning_legende p#pl1{margin-left:15px;width:120px;}
#planning_legende p#pl2{margin-left:270px;}
#planning_legende p#pl3{margin-left:520px;}
#planning_legende span{position:absolute;font-size:12px;margin:35px 0 0 780px;background:url(../img/planning_legende_plage.png) no-repeat;line-height:16px;padding-left:60px;}
#planning_legende span.profil0{margin-top:10px;}
#planning_legende span.profil1{background-position:0 -20px;}
#planning_legende span.profil2{background-position:0 -40px;}
#planning_legende span.profil3{background-position:0 -60px;}
#planning_legende span.profil4{background-position:0 -80px;}

#btn_planning{background-image:url(../img/play_picto.gif);background-repeat:no-repeat;background-position:10px 50px;}
#btn_planning:before{content:"Enregistrer mon planning horaire"}
#btn_planning.wait{background-position:10px -389px;}
#btn_planning.wait:before{content:"Patientez";padding-left:10px;}
#btn_planning.ok{background-position:10px -489px;}
#btn_planning.ok:before{content:"EnregistrÃ©";padding-left:10px;}

#fuseau{float:right;margin-top:25px;color:#00a1d5;}
#fuseau span{font-size:12px;text-decoration:underline;cursor:pointer;margin:0 10px 0 10px;}
#popup_ctz{width:900px;margin:55px 0 0 12px;padding:10px 30px 40px 30px;}
#popup_ctz:before{margin:-32px 0 0 419px}
#popup_ctz #cont_fuseau{margin:20px 0 30px 0;text-align:left;}
#popup_ctz #cont_fuseau h3{color:#333;font-weight:700;font-size:16px;margin:15px 0 15px 0;}
#popup_ctz #cont_fuseau p{background:url(../img/check.png) no-repeat 0 3px;line-height:24px;padding-left:25px;text-transform:uppercase;cursor:default;}
#popup_ctz #cont_fuseau p:hover{background-position:0 -47px;color:#00a1d5;}
#popup_ctz #cont_fuseau p.lead{background-position:0 -147px;color:#00a1d5;}
#popup_ctz .fuseau_elem{width:180px;float:left;}
#popup_ctz #submitCTZ{float:right;}
#popup_ctz #closeCTZ{float:left;color:#d12e2c;cursor:pointer;text-decoration:underline;margin-top:20px;}

.bootstrap .list-action-enable.action-enabled , .clipjour .barrejour a.action-enabled {
    border: solid #79bd3c 1px;
    background-color: #93cd60;
    color: #FFF;
}
.bootstrap .list-action-enable.action-disabled , .clipjour .barrejour a.action-disabled {
    border: solid #d9534f 1px;
    background-color: #e27c79;
    color: #FFF;
}
