@charset "UTF-8";
/*
This software is allowed to use under GPL or you need to obtain Commercial or Enterise License
to use it in non-GPL project. Please contact sales@dhtmlx.com for details
*/





.dhx_cal_container {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.dhx_cal_header {
	color : rgb(72, 72, 72);
	text-transform :uppercase;
	font-size:14px;
}
.dhx_cal_header div {
	font-size:11px;
}
.dhx_cal_container table td {
	padding:0px;
}

.dhx_scale_bar{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color : rgb(85, 85, 85);
	border-left: 0px none;
}
.dhx_cal_event_line_start.validated_event {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right:0px;
  border-color:#008abd;/*rgb(221, 221, 221);*/
}
.dhx_cal_event_line.validated_event {
	border-color:#008abd;/*rgb(221, 221, 221);*/
}
.dhx_cal_event_line.unvalidated_event {
border-color:#ccc;
}
.dhx_cal_event_line_end.validated_event {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
   border-left:0px;
  border-color:#008abd;/*rgb(221, 221, 221);*/
}
.dhx_cal_event_line_end.dhx_cal_event_line_start.validated_event {
	border-left:solid 1px #008abd;
	border-right:solid 1px #008abd;
}
.dhx_cal_event_line_start.unvalidated_event {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
   border-right:0px;
  /*border-color:#ccc;/*rgb(221, 221, 221);*/
}
.dhx_cal_event_line_end.unvalidated_event {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
   border-left:0px;
  border-bottom-right-radius: 5px;
  /*border-color:#ccc;/*rgb(221, 221, 221);*/
}
.dhx_cal_event_line_end.dhx_cal_event_line_start.unvalidated_event {
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
}
/*
.dhx_cal_event_line_end .product_label {
	display: none;
}
.dhx_cal_event_line_start .product_label {
	display: block;
}
.dhx_cal_event_line_start .order_label {
	display: none;
}
.dhx_cal_event_line_end .order_label {
	display: block;
}
*/
.validated_event .order_label {
	color: #FFF;
}
.validated_event .order_icon {
	color: #FFF;
}
.unvalidated_event .order_label {
	color: rgb(102, 102, 102);
}


.dhx_cal_header {
  border:3px solid rgb(233, 233, 233);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.dhx_cal_data {
  border-top: 0px none;
}
.dhx_month_head {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  color : #000;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 10px;
}
.dhx_month_body {
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}
.dhx_cal_navline {
	border-bottom-color: grey;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	color: #268CCD;
}
tr.dhx_row_item div.dhx_matrix_line {
	border-top-color: #e6e6e6;;
	border-top-width: 1px;
	border-top-style: solid;
	color: #268CCD;
}
tr.dhx_row_folder td div.dhx_marked_timespan {
background-color: rgb(244, 248, 251);
}
.dhx_cal_navline div {
	top: 4px !important;
}
.dhx_cal_tab, .dhx_cal_date, .dhx_cal_today_button, .dhx_cal_prev_button, .dhx_cal_next_button {
	color: #454544;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CECECE;
}
.dhx_cal_navline .dhx_cal_date {
	font-size: 13px !important;
	font-weight: bold;
	color: rgb(38, 140, 205);
}


.dhx_cal_header div div {
	border: 0px;
}
.dhx_matrix_scell {
	
}
.dhx_matrix_scell.folder, .dhx_data_table.folder .dhx_matrix_cell {
  background-color: #f4f8fb
}
.dhx_matrix_cell {
	height: 20px;
	border-top: solid 1px rgb(206, 206, 206);
	border-bottom: solid 1px #FFF;
}
.folder .dhx_matrix_cell  {
	border-top: solid 0px rgb(206, 206, 206);
}
td.folder {
	border-top: 1px solid #FFF;;
}
.dhx_matrix_scell {
  border-top: 1px solid #CECECE;
  border-bottom: 0px;
}
.dhx_cal_data table {
	  border-collapse:separate;
}
.dhx_data_table tr td:last-child {
	border-right: 1px #000;
}


.dhx_grid_area td, .dhx_grid_line div {
  padding-left: 2px;
  padding-right: 2px;
}



.dhx_cal_tab.active {
	background-color: #F0EDE7;
	color: #454544;
	border: 1px solid #CECECE;
	text-shadow: 0 1px 0 white;
}
/*timeline product*/
.dhx_matrix_scell div {
	height:100%;
}

.dhx_scale_hour {
	line-height: 25px;
}
.dhx_cal_header {
  z-index: 0;
}
.unavailable {
	background-image:url('../img/holiday.gif');
	z-index: 0;
}
.available_blank {
	background-color:#FFF;
	z-index: 1;
}
.available_color {
	background-color:#72C279;
	z-index: 1;
}


.item div.dhx_scell_name, .folder div.dhx_scell_name {
	text-align: left;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width:160px;
	overflow-y:hidden;
}

/*event in day or week view*/
/*.dhx_cal_event.validated_event div.dhx_body {
	background:#f4f8fb;
}*/
.dhx_cal_event.validated_event div.dhx_title {
	background: #008abd;
}
.dhx_cal_event.unvalidated_event div.dhx_title {
	background: rgb(204, 204, 204);
}
.dhx_cal_event.validated_event div.dhx_footer {
	background: #008abd url(../img/scheduler/resize_dots.png) repeat-x;
	margin-left: 0px;
	margin-top: -1px;
}
.dhx_cal_event div.dhx_title {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
    height: 15px;
    padding-top: 0px
}
.dhx_row_item .dhx_cal_event_line {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /*border-color:#008abd;/*rgb(221, 221, 221);*/
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



/*multi-day event in month view*/
.dhx_cal_event_line.validated_event, .dhx_cal_event_clear.validated_event, .dhx_cal_event.validated_event {
	background:#00aff0;
	border: solid 1px #008abd;
	z-index: 3;
	height:30px;
}
.dhx_cal_event_line.unvalidated_event, .dhx_cal_event_clear.unvalidated_event, .dhx_cal_event.unvalidated_event {
	border:solid 1px #ccc;
	background: rgb(221, 221, 221);
	/*z-index: 3;*/
	height:30px;
}
.dhx_cal_event_clear {
	height:30px;
}
.dhx_cal_event_clear.validated_event .mini_panel {
	background:#00aff0;

}
.dhx_cal_event_clear.unvalidated_event .mini_panel {
	background: rgb(221, 221, 221);
}
/*event in day or week view*/
.dhx_cal_event.unvalidated_event div.dhx_body {
	color:black !important;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 0px;
}
.dhx_cal_event.unvalidated_event div.dhx_footer {
	background: rgb(204, 204, 204) url(../img/scheduler/resize_dots.png) repeat-x;
	margin-left: 0px;
	margin-top: -1px;
}
/*multi-day event in month view*/
.dhx_cal_event_line.unvalidated_event, .dhx_cal_event_clear.unvalidated_event {
	color:#FFF;
	z-index: 3;
}
.dhx_cal_event_line.unvalidated_event div.width_item {
	background:#e6e6e6;
}
.dhx_cal_event_line.validated_event div.width_item {
	background:#00aff0; /*#f4f8fb;*/
}
.dhx_cal_event .dhx_title {
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 11px;
line-height: 14px
}
div.width_item {
	overflow:hidden;
	white-space: nowrap;
	word-wrap: normal;
	height:30px;
	width:100%;
}
/*.dhx_cal_event_clear.unvalidated_event {
	height:30px;
-webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color:rgb(221, 221, 221);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}
/*
.dhx_cal_event_line.unvalidated_event span{
	color:#000;
	font-weight: bold;
	line-height: 22px;
}*/
/*event with fixed time, in month view*/
.dhx_cal_event_clear.unvalidated_event{
	color:grey !important;
}
.dhx_cal_event_line {
	height:30px;
	padding:0px;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px 0px, rgb(255, 255, 255) 0px 0px 0px 3px inset;
}
.dhx_cal_event_line_start.validated_event, .dhx_cal_event_clear.validated_event {
	padding-left: 8px;
	background-color: #008abd;
	box-shadow:none;
}
.dhx_cal_event_line_start.unvalidated_event {
	padding-left: 8px;
	background-color: #ccc;
	box-shadow:none;
}
.dhx_cal_event_clear.unvalidated_event {
	padding-left: 8px;
	background-color: rgb(204, 204, 204);;
	box-shadow:none;
}
.dhx_cal_navline div.dhx_cal_print {
	color: #454544;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CECECE;
	background-color: rgb(255, 246, 211);
}
.dhx_cal_event_line .product_label {
	/*float:left;*/
	display: inline-block;
	
}
.time_label {
	font-size: 11px !important;
	line-height: 13px;
	padding: 0px;
	padding-right: 4px;
	padding-left: 3px;
	/*float: left;*/
	display: inline-block;
	color: rgb(102, 102, 102);;
}
.order_label {
	font-size: 11px !important;
	line-height: 12px;
	padding: 0px;
	padding-top: 0px;
	padding-left: 0px;
	/*float: left;*/
	display: inline-block;
	white-space: nowrap;
	overflow:hidden;
	width: 100%;
}

.order_icon {
	margin-left: 6px;
	padding-top: 0px;
}
.order_label .badge {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.product_label { /*div.dhx_body .product_label, .dhx_cal_event_line .product_label, */
	padding-top: 1px;
	/*margin-top:2px;*/
	padding-left: 3px;
	margin-left: 0px;
	color: #333 !important;
	-webkit-border-radius: 2px;
	-moz-border-radius:  2px;
	border-radius:  2px;
	background:#FFF;
	background-size: 25px 25px;
	background-repeat:no-repeat;
	background-position:3px 3px;
	line-height: 12px;
	height: 25px;
	overflow:hidden;
}

.status_label {
	padding: 2px;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-size: 11px;
	line-height: 11px;
}
.status_label span {
	line-height: 12px;
}
.mini_time {
	font-size: 11px;
	line-height: 11px;
	padding: 2px;
	padding-top: 4px;
	padding-right:6px;
	float: left;
	color: #FFF;
}
.mini_label {
	float: left;
	padding-top: 2px;
	color:#FFF;
	line-height: 11px;
	width:40%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mini_label2 {
	display: inline-block;
	float: right;
	color:#FFF;
}
.dhx_cal_event_line_start.dhx_cal_event_line_end .order_label {
	max-width:50%;
}
.dhx_cal_event_line_start.dhx_cal_event_line_end .product_label {
	max-width:50%;
}
.dhx_cal_event_clear div.product_label {
	float:left;
	max-width:40%;
}

div.dhx_body .product_label div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.dhx_body span {
	margin-top: 4px;
	color:#FFF;
}