/* Block ORder Confirmation */
/*#viewed-resa .products li {
	padding:10px 0;
	border-bottom:1px dotted #ccc;
}
#viewed-resa .products li.last_item {
	padding-bottom:0;
	border:none;
}

#viewed-resa .content_img {
	float:left;
}*/
#viewed-resa .text_desc {
	float:left;
	margin-left: 10px;
    /*width: 220px;*/
}
.resas_conf .resa_link {
    float: left;
    margin-right: 5px;
    border: solid 1px;
    border-left-color: #CACACA;
	border-bottom-color:#9A9A9A;
	border-right-color:#B7B7B7;
	border-top-color: #CACACA;
    border-radius: 4px;
}
.resas_conf_new .resa_link {
    float: left;
    margin-right: 5px;
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    background: white;
}
.resas_conf_new .resa_link a {
    float: left;
    text-align: center;
    width: 110px;
    padding: 5px;
	font-size: 0.8rem;
    color: #878787;
}
.resas_conf .resa_link a {
    float: left;
    text-align: center;
    width: 80px;
    padding: 5px;
}
.resas_conf_new .resa_global {
	text-align:center;
	margin-bottom: 5px;
	width:100%;
    background: #ebebeb;
        padding: 5px;
}
.resas_conf .resa_global {
	text-align:center;
	margin-bottom: 5px;
	width:100%;
	border: solid 1px;
	border-left-color: #CACACA;
	border-bottom-color:#9A9A9A;
	border-right-color:#B7B7B7;
	border-top-color: #CACACA;
	border-radius: 4px;
}
.resa_global a {
	display:block;
	line-height: 30px;
	font-size: 13px;
}
.resas_conf .resa_global a, .resas_conf .resa_link a {
	border-radius: 4px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #c9c9c9 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%,#c9c9c9 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#c9c9c9 100%);
	border: 1px solid #f4f4f4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#c9c9c9',GradientType=0 );
}
.resas_conf_new .resa_global a {
    background: #ebebeb;
}
.resas_conf_new .resa_link a {
    background: #ffffff;
}
/*.resa_global img { top: -5px;margin-bottom: -7px;}*/
.resa_global a:hover { text-decoration:none}
.resa_link a:hover { text-decoration:none}

/*#viewed-resa li .text_desc .s_title_block, #viewed-resa li .text_desc h5 {
	padding:0 0 5px 0;
	font-size:12px;
	color:#333;
	font-weight: bold;
}

#viewed-resa li .text_desc .s_title_block a, #viewed-resa li .text_desc h5 a {
	color:#333;
}

#viewed-resa li .text_desc p, #viewed-resa li .text_desc p a {
	padding-bottom:0;
	line-height:14px;
	color:#666
}
p.resa_period {
font-weight: bold;
font-size: 14px;
color: #990000;
}*/

#resas-list tbody tr td {
	padding: 3px 5px;
}