div.sheets {
	padding-left: 8px;
	padding-right: 8px;
}

.myOwnH3 {
	margin-bottom: 3px;
	margin-top: 3px;
	padding-bottom: 10px;
	font-size: 14px;
}
.myOwnH5 {
	margin-bottom: 3px;
	margin-top: 3px;
	padding-bottom: 10px;
	font-size: 14px;
}
.myOwnPad5 {
	padding-left:5px !important;
	padding-right: 5px !important;
	padding-bottom: 5px !important;
}
.selectedlegend {
	float:right;
	color:#1a7bc1;
	font-weight: normal;
	font-size: 13px;
	height: 16px;
}
.selectDelete {
	background: transparent url('../../img/delete.gif') top left no-repeat;
	height: 16px;
	width: 16px;
	float:right;
	margin-left:10px;
}

.widget_title {
	padding-top: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
	margin:2px 0px;
}

.fix-myownAddCart {
	border-bottom: 1px solid #E0E0E0;
	background-color: #FFF;
	position: fixed;
	top: 0;
	opacity: 0.9;
	z-index: 1;
}
.myOwnReservationLoading {
	width:auto;
	text-align:center;
	margin-top:30px;
}
/*---------------------- 1.6 correction----------------------*/
#myOwnValidate  span {
	font-size: 14px;
	line-height: 14px;
}
#myOwnColumnReset  span {
	font-size: 14px;
	line-height: 14px;
}
/*----------------------myOwnCalendarHeader----------------------*/
table.myOwnCalendarHeader {
	margin-bottom:15px;
	font-size: 11px;
}
#myOwnReservationTopcolumnContent table.myOwnCalendarHeader {
	margin-bottom:3px;
	font-size: 11px;
}
table#myOwnProductCalendarHeader {
	margin-bottom:15px;
}
table#myOwnColumnCalendarHeader {
	margin-bottom:5px;
}
table.myOwnCalendarHeader tr > td, table.myOwnCalendarBottom tr > td {
	padding: 0px;
	padding-top: 0px;
}
/*----------------------myOwnColumnCategory----------------------*/

table.myOwnColumnCategory tr > td, table.myOwnColumnCategory tr > td {
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 6px;
}

/*----------------------myOwnCalendarTop----------------------*/
table.myOwnCalendarTop {
	border-spacing: 0px;
	table-layout: fixed;
	margin-top:10px;
	font-size: 11px;
}
table.myOwnCalendarTop .myOwnCalendarTopItem {
	height: 20px;
	padding: 0px;
	text-align: center;
	font-weight: bold;
	color: #374853;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #DDD;
	border-right: 1px solid #BBB;
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e2e2e2));
	background: -moz-linear-gradient(top, #f2f2f2, #e2e2e2);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e2e2e2');
}
#myOwncolumnCalendarTop .myOwnCalendarTopItem, #myOwntopcolumnCalendarTop .myOwnCalendarTopItem, #myOwntopproductCalendarTop .myOwnCalendarTopItem {
	font-size: 10px;
	overflow-x: hidden;
	text-overflow : hidden;
	white-space: nowrap;
}
table.myOwnCalendarTop .myOwnCalendarHours {
	border: none;
	width: 50px;
}
td.myOwnCalendarHours {
	padding:0px;
}
table.myOwnCalendarTop .myOwnCalendarProduct {
	overflow: hidden;
}
table/myOwnCalendarTopItem .myOwnCalendarProduct {
	overflow: hidden;
}
table.myOwnCalendarLine .myOwnCalendarTopHoursLine .myOwnCalendarProduct {
	overflow: hidden;
}
table.myOwnCalendarLine .myOwnCalendarProduct {
	overflow: hidden;
}
table.myOwnCalendarLine .myOwnCalendarTopProduct {
	text-align:left;
	padding:0px;
	border:0px;
	padding-top:3px;
	border-bottom: 1px solid #BDC2C9;
	border-collapse: collapse;
}
/*----------------------.myOwnCalendarLineTopHours----------------------*/
table.myOwnCalendarLine .myOwnCalendarTopHoursLine {
	background-color: #E2E2E2;
}
table.myOwnCalendarLine .myOwnCalendarTopHours {
	text-align:left;
	padding:0px;
	border:0px;
	padding-top:3px;
	border-bottom: 1px solid #BDC2C9;
	border-collapse: collapse;
}
table.myOwnCalendarLine .myOwnCalendarTopHoursEmpty {
	text-align:left;
	padding:0px;
	border:0px;
	padding-top:3px;
	width: 32px;
	border-bottom: 1px solid #BDC2C9;
	border-collapse: collapse;
}
#myOwncolumnDayCalendarLine .myOwnCalendarTopHoursEmpty {
	width: auto !important;
}
table.myOwnCalendarLine .myOwnCalendarTopHours span, table.myOwnCalendarLine .myOwnCalendarTopHoursEmpty span {
	text-align:left;
	font-size:9px;
	position:relative;
	left:-15px;
}
/*----------------------#myOwnCalendarLine----------------------*/
table.myOwnCalendarLine {
	border-spacing: 0px;
	table-layout: fixed;
}
table.myOwnCalendarLine .myOwnCalendarLineItem {
	border-bottom:1px solid #CCC;
	padding-right:1px;
	border-collapse: collapse;
	font-size:11px;
	padding: 0px;
	/*width: 100%; bad for nightsel*/
	height :30px;
}

#myOwnReservationhomeContent table.myOwnCalendarLine .myOwnCalendarLineItem {
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	padding-right:1px;
	border-collapse: collapse;
	font-size:11px;
	padding: 0px;
	width: 100%;
	height :30px;
}
table.myOwnCalendarLine .myOwnCalendarHours, table.myOwnCalendarHeadLine .myOwnCalendarHours {
	text-align:center;
	font-size:9px;
	vertical-align:text-top;
	position:relative;
	top:-6px;
	padding-left:0px;
	width: 50px;
}
#myOwnReservationhomeContent table.myOwnCalendarLine .myOwnCalendarHours, #myOwnReservationhomeContent table.myOwnCalendarHeadLine .myOwnCalendarHours {
	text-align:center;
	border-right: 1px solid #CCC;
	font-size:9px;
	vertical-align:text-top;
	position:relative;
	top:-6px;
	padding-left:0px;
	width: 50px;
}
#myOwntopcolumnWeekCalendarLine td.myOwnCalendarHours {
	line-height: 10px;
}
#myOwncolumnWeekCalendarLine td.myOwnCalendarHours {
	line-height: 12px;
}

#myOwntopcolumnWeekCalendarLine td.timeSlotCell {
	padding: 2px;
}
table.myOwnCalendarLine div.emptySlot {
}
table.myOwnCalendarLine div.baseSlot {
	height:50px;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.productSlot {
	height:100%;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.homeSlot {
	/*height:50px;*/
	margin-top:5px;
	margin-bottom:5px;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.productsubSlot {
	height:50px;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.columnSlot {
	height:20px;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.columnsubSlot {
	height:20px;
	display:table;
	table-layout:fixed;
	width:100%;
}
table.myOwnCalendarLine div.selSlot {
	height:100%;
	display:table;
	table-layout:fixed;
	width:100%;
}
#myOwnproductListCalendarLine div.lengthSlot {
	height:30px;
	font-size: 12px;
	text-align: center;
	cursor: default;
}
#myOwntopcolumnListCalendarLine div.lengthSlot {
	height:20px;
	font-size: 12px;
	text-align: center;
}
#myOwncolumnListCalendarLine div.lengthSlot {
	height:20px;
	font-size: 12px;
	text-align: center;
}
table.myOwnCalendarLine div.unavailableSlot {
	background: #f2f2f2;
	border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#e3e3e3));
	background: -moz-linear-gradient(top, #b5b5b5, #e3e3e3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#e3e3e3');
}
table.myOwnCalendarLineItem div.availableSlot {
	cursor: hand;
}
table.myOwnCalendarLine div.availableSlotSel {
	cursor: hand;
	background: #f2f2f2;
	border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #e3e3e3;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#e3e3e3));
	background: -moz-linear-gradient(top, #b5b5b5, #e3e3e3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#e3e3e3');
}
table.myOwnCalendarLine div.availableSlot {
	cursor: hand;
	color: #ffffff;
	background: #6fcf08;
	border-top: 1px solid #65b70c;
	border-bottom: 1px solid #3e811e;
	border-left: 1px solid #65b70c;
	border-right: 1px solid #3e811e;
	background: -webkit-gradient(linear, left top, left bottom, from(#65b70c), to(#3e811e));
	background: -moz-linear-gradient(top, #6fcf08, #3e811e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fcf08', endColorstr='#3e811e');
}
table.myOwnCalendarLine div.selectedSlot {
	color: #ffffff;
	font-weight: 600;
	background: #7dc9ff;
	border-top: 1px solid #7dc9ff;
	border-bottom: 1px solid #1a7bc1;
	border-left: 1px solid #7dc9ff;
	border-right: 1px solid #1a7bc1;
	background: -webkit-gradient(linear, left top, left bottom, from(#7dc9ff), to(#1a7bc1));
	background: -moz-linear-gradient(top, #7dc9ff, #1a7bc1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dc9ff', endColorstr='#1a7bc1');
}
table.myOwnCalendarLine div.selectionSlot {
	color: #CCC;
	background: #7dc9ff;
	border-top: 1px solid #7dc9ff;
	border-bottom: 1px solid #1a7bc1;
	border-left: 1px dotted #7dc9ff;
	border-right: 1px dotted #1a7bc1;
	background: -webkit-gradient(linear, left top, left bottom, from(#7dc9ff), to(#1a7bc1));
	background: -moz-linear-gradient(top, #7dc9ff, #1a7bc1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dc9ff', endColorstr='#1a7bc1');
}
table.myOwnCalendarLine div.holidaySlot {
	background: #676767;
	background: transparent url('../../img/holiday.gif') top left;
	background-repeat:repeat;
}

table.myOwnCalendarLine div.slotInput {
	display: none;
}
table.myOwnCalendarLine input {
	margin-left: 4px;
}
table.myOwnCalendarLine span.timeLabel {
	font-size: 13px;
	line-height: 13px;
}

#myOwnReservationcolumnContent table.myOwnCalendarLine span.timeLabel {
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}
table.myOwnCalendarLine .slot[length] span.timeLabel {
	display:none;
}
table.myOwnCalendarLine .selectedSlot span.timeLabel , table.myOwnCalendarLine .selectionSlot span.timeLabel {
	display:inline-block !important;
}

table.myOwnCalendarLine div.slotLabel {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor : default;
	line-height: 14px;
	overflow:hidden;
}
#myOwntopcolumnWeekCalendarLine div.slotLabel {
	white-space: nowrap;
	overflow: hidden;
}
table.myOwnCalendarLine div.unslotLabel {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor : default;
	overflow:hidden;
	color: #777;
}
table.myOwnCalendarLine div.slotLabel span {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
table.myOwnCalendarLine span.estimateLabel
{
	font-style: italic;
}
table.myOwnCalendarLine span.reductionLabel
{

}

/*----------------------myOwnCalendarHeadLine----------------------*/
table.myOwnCalendarHeadLine {
	border-spacing: 0px;
	table-layout: fixed;
}
table.myOwnCalendarHeadLine .myOwnCalendarHeadLineItem {
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC;
	border-left:1px solid #EEE;
	padding-right:1px;
	border-collapse: collapse;
	text-align: center;
	background-color: #e2e2e2;
	height: 18px;
}
#myOwntopcolumnCalendarHeadLine .myOwnCalendarHeadLineItem {
	font-size: 12px;
	padding:2px;
	font-weight: bold;
}

/*----------------------myOwnCalendarBottom----------------------*/
table.myOwnCalendarBottom {
	border-spacing: 0px;
	margin-top: 10px;
	font-size: 11px;
}

.myOwnReservationContent .placeBox {
	    margin: 0 0 20px 0 !important;
}
