.myOwnResDateField {
	padding: 0 5px;
	height: 23px;
	font-size: 14px;
	text-align: center;
	font-weight: blod;
	border: 1px solid #666;
	color: #666;
	display:inline-block;
	box-shadow:inset 0px 2px 7px -2px rgb(149,149,149);
	margin:0px;
	width:70%
}
.myOwnResTSField {
	padding: 0 5px;
	height: 23px;
	font-size: 13px;
	text-align: center;
	font-weight: blod;
	border: 1px solid #666;
	color: #666;
	
	width:90px;
	margin:4px;
}
.myOwnResLabelField {
	width:25%;
}
#searchStartEnabledButton {
	float: none;
}

#period_block p#cart-buttons a#button_order_cart { float: right }
#period_block p { clear: both }
#period_block p#cart-buttons {
height: 1.6em;
margin: 0 -0.3em;
}
.timeslot_div {
	padding:4px 0px;
}
.period_calendar {
	padding:2px 0px;
}
.period_tstitle {
	padding:2px 5px;
}
#timeslot_td {
	border-width: 0px;
	background-color: #F6F6F6;
	background-image: url(img/f6f6f6.png);
	background-origin: padding-box;
	color: #812143;
	display: table-cell;
	font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	padding:0px;
}
.timeslot_tr {
	border: 0px;
}
.timeslot_table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}
#timeslot_td a {
	color: #812143;
	padding: 2px;
	display: block;
	border:1px solid #CCC;
	padding-left:6px;
}
#timeslot_td a:hover {
	background:#ECB955 url(img/fdfdfd.png) repeat-x scroll 50% 50%;
	border:1px solid #ECB955;
	color:#812143;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}
.title_div {
	text-align:left;
	padding:4px 5px 0px;
	font-weight:bold;
}
.validate_div {
	text-align:center;
	padding:4px 6px 2px;
}
.period_hr {
	height: 1px;
	color: #FFF;
	background-color: #FFF;
	border: none;
	margin-top: 1px;
	margin-bottom: 4px;
}


