#mp-menuleft .start-group{background: red;color:white}
#mp-menuleft .edit-group{background: #e0e0e0;}
#mp-menuleft .edit-group:hover{background: #fff;}
#mp-menuleft .edit-help{background: #71b238;color: white;}
#mp-menuleft .children-group{background-color: #4d576e; color: white;}
#mp-menuleft .global-group{background-color: #272c38; color: white;}
#mp-menuleft .edit-group{padding-left:25px;}
#mp-menuleft .edit2-group{padding-left:45px;}
.list-group-item, .bootstrap #dashboard .data_list li {
    background-color: white;
    border: 1px solid #dddddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}
#mp-admin{float:left;width:100%;}
#mp-admin fieldset{
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:#fff;
	border-:2px solid #CCCED7;
}

#mp-content{float:left;width:75%;margin-left:10px;}
#mp-menuleft {
   float:left;width:18%;
}
#mp-admin .panel-footer{background:none;float:left;width:100%}
.mp-menu li {
    margin: 0 0 5px;
}
.mp-menu li a:link, .mp-menu li a:visited {
    background: url("../img/menu-sprite.png") no-repeat scroll 0 -42px transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    width: 157px;
}
.mp-menu li a:hover, .mp-menu li a.mp-menu-focus {
    background-position: 0 0px;
    text-decoration: none;
}

.mp-menu li a.mp-menu-home{
	/* background-position: 0 0px;*/
}
.mp-menu a span {
    display: block;
    float: left;
    height: 42px;
    margin: 0 12px;
    width: 25px;
}
.ui-tooltip{max-width:800px !important;}