// out: custom.min.css, compress: false
//@plugin "my-plugin";
@import "crossbrowser.less";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700');

/* mediaquery */

@megadesktop: ~"only screen and (min-width: 2150px)";
@hddesktop: ~"only screen and (min-width: 1920px)";
@bigdesktop: ~"only screen and (min-width: 1440px)";
@desktop: ~"only screen and (min-width: 1200px)";
@smalldesktop: ~"only screen and (max-width: 1199px)";
@customsmalldesktop: ~"only screen and (max-width: 1350px)";
@up2tabletland: ~"only screen and (min-width: 992px)";
@up2Smartphoneland: ~"only screen and (min-width: 812px)";
@tabletland2: ~"only screen and (max-width: 1024px)";
@tabletland: ~"only screen and (max-width: 991px)";
@tabletprt: ~"only screen and (max-width: 768px)";
@colxs: ~"only screen and (max-width: 575px)";
@smartphones: ~"only screen and (max-width: 479px)";
@smallsmartphone: ~"only screen and (max-width: 320px)";


/*PRIMARY COLORS*/
@color_bk:       #222;
@color_wh:       #fff;
@color_lb:       #51B7CF;
@cl_label:       #8397a8;
@color_title:    #043c69;
@color_gray:     #f3f3f3;
@dark_gray:      #afafaf;
@border_gray:    #e6e6e6;
@color_pink:     #cf3197;
@color_blue:     #11293C;
@image_gray:     #f2f2f2;
// @color_shadow:   #888888b5;
/*FONT FAMILIES*/
// @primary_font: 'Martel', serif;
// @second_font:  'Lato', sans-serif;

@primary_font: 'Lato', sans-serif;
@second_font: 'Roboto', sans-serif;


h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: @primary_font;
}

span, p, em, strong, textarea, input, .price, a {
  font-family: @second_font;
}

body{
      width: 100%;
}

// form-elements beautify

.placeholder_style() {
  font-size: 16px;
  color: @dark_gray;
}

textarea,
input[type] {
  .placeholder({
    .placeholder_style();
  })
}

.button, .btn, a, input {
  &.button, &.btn, &-medium, &-default, &.lnk_view, &.btn-default, &.button-medium, &.btn-primary {
    .border-radius(4px);
    background: @color_pink;
    border: 2px solid @color_pink;
    float: none;
    line-height: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: @color_wh;button
    font-size: 16px;

    span {
      background: transparent;
      font-size: 12px;
      border: 0;
      padding: 0;
      margin: 0;
      line-height: normal;
      color: @color_blue;
      border: 0;
      .text-shadow(none);
    }

    &:hover {
      border: 2px solid @color_blue;
      background-color: @color_blue;
      color: @color_wh;
      text-decoration: none;

      span {
        background: transparent;
        color: @color_wh;
        text-decoration: none;
      }
    }
    &:focus {
      outline: 0px;
      text-decoration: none;
    }
  }
}


.label {
  &-success {
    background-color: transparent !important;
    border: 0 !important;
    color: @color_pink;
    .border-radius(4px);
    padding: 2px 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.__beautyform_el {

  display: inline-block;

  &.__switcher {

    .__switch {

      width: 50px;
      .border-radius(15px);
      height: 30px;
      font-size: 0;
      white-space: nowrap;
      position: relative;
      cursor: pointer;

      background-color: @color_gray;
      border: 1px solid @color_gray;
      .box-shadow(@color_gray 0px 0px 0px 0px inset);
      .transition(border 0.4s ease 0s~"," box-shadow 0.4s ease 0s);

      &:before {
        content: '';
        width: 28px;
        height: 28px;
        position: absolute;
        background-color: @color_wh;
        left: 0;
        top: 0;
        .transition(background-color 0.4s ease 0s~"," left 0.2s ease 0s);
        .border-radius(100%);
      }

      &.active {

        background-color: @color_pink;
        border-color: @color_pink;
        .box-shadow(@color_pink 0px 0px 0px 16px inset);

        .transition(border 0.4s ease 0s~"," box-shadow 0.4s ease 0s~"," background-color 1.2s ease 0s);

        &:before {
          left: 48px - 28px;
        }
      }
    }
  }
  &.__selecter {

    .__selectlist {
      position: relative;
      .value_label {
        width: 100%;
        background-color: @color_gray;
        color: @color_bk;
        display: block;
        cursor: pointer;
        padding: 0 15px;
        font-size: 16px;

        &.placeholder {
          .placeholder_style();
        }
      }
      ul {
        // display: none;
        // position: absolute;
        // left: 0;

        width: 100%;
        background-color: #fff;
          .border-radiuses(5px);
        .box-shadow(0 0 0 1px rgba(68, 88, 112, 0.11));
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        .transform-origin(50% 0);
        .transform(scale(0.75) translateY(-21px));
        .transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25)~"," opacity 0.15s ease-out);
        z-index: 9;

        li {
          // line-height: 40px;
          // height: 40px;
          // font-size: 16px;
          // padding: 0px 15px;
          // background-color: @color_gray;
          // border-bottom: 1px solid @dark_gray;

          cursor: pointer;
          font-weight: 400;
          line-height: 40px;
          list-style: none;
          min-height: 40px;
          outline: none;
          font-size: 16px;
          padding-left: 18px;
          padding-right: 29px;
          text-align: left;
          .transition(all 0.2s);

          &:hover {
            background-color: @color_pink;
            color: @color_wh;
            text-decoration: none;
          }
        }
      }

      &.active {
        ul {
          opacity: 1;
          pointer-events: auto;
          .transform(scale(1) translateY(0));
          overflow: scroll !important;
        }
      }
    }
  }
}


#header {

  .row {
    margin: 0;
  }
  #block_top_menu{
    padding: 0;
    padding-top: 10px;
    #header_logo{
      margin: 5px 0;
      height: 53px;
      padding: 0 0 0 30px;
      > a {
        > img {
          max-height: 43px;
          width: auto;
          margin: 12px 0;
          // .invert(100%);
          &.logo{
              // .scale(0.5);
              @media @smartphones{
                .scale(1);
              }
          }
        }
      }
    }
    .menu-content{
      border:  none;
      background: transparent;
      color:    @color_wh;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 30px;
      white-space: nowrap;
      text-align: right;
      font-size: 0;
      display: block;
      width: auto;
      float: right;

      li{

        float: none;
        display: inline-block;
        border:  none;
        background: transparent;
        &.left-radius{
          border-bottom: 1px solid @color_blue;
          border-left: 1px solid @color_blue;
          border-top: 1px solid @color_blue;
          .border-radiuses(0, 0, 4px, 4px);
          a {
            padding-left: 25px;
            &:hover {
              &:after {
                display: none;
              }
            }
          }
          &:hover {
            background-color: @color_pink;

            a {
              color: @color_wh;
              text-decoration: none;
            }
          }
        }
        &.right-radius{
          border-bottom: 1px solid @color_blue;
          border-right: 1px solid @color_blue;
          border-top: 1px solid @color_blue;
          .border-radiuses(4px, 4px, 0, 0);
          a {
            padding-right: 25px;
            &:hover {
              &:after {
                display: none;
              }
            }
          }
          &:hover {
            background-color: @color_pink;

            a {
              color: @color_wh;
              text-decoration: none;
            }
          }
        }
        a{
          color: @color_blue;
          border:   none;
          padding: 17px 0;
          margin: 0px 15px;
          font-size: 16px;
          line-height: 20px;
          font-weight: normal;
          text-transform: none;
          position: relative;

          &:after {
            content: '';
            width: 0%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            .translate(-50%, 0);
            .transition(.4s ease-in-out width);
            background-color: @color_blue;
          }

          &:hover{
            background-color: transparent;
            text-decoration: none;

            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    + .col-sm-4 {
      display: none;
    }
  }
}
.search_container{
  .box-shadow(0px 2px 32px fade(black, 10));
  .border-radius(4px);
  background: @color_wh;
  display: block;
  width: 540px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  @media @smartphones{
    width: 80%;
      transform:none;
  }
  .link_bar{
    border-bottom: 3px solid @color_gray;
    margin: 0;
    .top_link{
      text-align: center;
      padding: 0;
      margin: 0 30px;
      height: 70px;
      line-height: 70px;
      a{
        color:   @cl_label;
        font-size: 21px;
        display: block;
        position: relative;
        .transition(.4s ease color~"," .4s ease font-weight);
        font-weight: 500;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          height: 3px;
          width: 0%;
          left: 50%;
          background-color: transparent;
          .translate(-50%, 0);
          .transition(.4s ease width);
        }

        &:hover,&:active{
          color:@color_pink;
          text-decoration: none;
          font-weight: bold;

          &:after {
            background-color:@color_pink;
            width: 100%;
          }

        }
      }
    }
  }
  .search_form{

    .search_form_container {

      margin: 0;
      padding: 0 20px;

      .form-group{
        margin-top: 17px;
        display: block;

        label{
          color: @cl_label;
          font-family: @second_font;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 18px;
          margin: 0;
          line-height: 30px;
        }
        input[type=text] {
          background-color: @color_gray;
          border: 0;
          line-height: 45px;
          height: 45px;
          .border-radius(0);
          .box-shadow(none);
        }

        &.lavoro {
          .checker {
            float: left;
            margin-top: 8px;
            margin-right: 10px;
          }
          .__beautyform_el {
            float: left;
            display: block;
            margin-right: 10px;
          }
          label {
            float: left;
          }
        }


        &.quando {
          label {
            display: block;
            width: 100%;
          }
          #da_data {
            float: left;
            width: calc(50% ~"-" 8px);
            margin-right: 8px;
          }
          #a_data {
            float: left;
            width: calc(50% ~"-" 8px);
            margin-left: 8px;
          }
        }
        &.ospiti {
          label {
            display: block;
            width: 100%;
          }

          .__beautyform_el {
            width: 40%;
            padding: 0;
            margin-right: 15px;
            background-color: @color_gray;
            line-height: 45px;
            height: 45px;
          }
        }
        &.submit {

          .cerca{
            background: @color_pink;
            border-color: @color_pink;
            color: @color_wh;
            // text-transform: uppercase;
            line-height: 35px;
            font-size: 22px;
            margin-top: 0;
            width: 100%;

          }
        }

        // &.where,&.date,&.guest,&.submit{
        //   padding: 35px;
        //     @media @smartphones{
        //       padding: 0;
        //     }
        // }
        &.work{
          padding-left: 35px;
          @media @smartphones{
            padding: 0;
          }
        }
        &.submit{
          padding-top: 0;
        }
      .form-control{
        height: 40px;
        background-color: @color_gray;
          &#work{
            height: 15px;
            text-align: left;
          }
        }
      }
    }
  }
}
// home
#index {
  #blockspecials{
    &.blockspecials{
      display: none;
    }
  }
  #header{
    background: transparent!important;

    #block_top_menu{
      margin-bottom: 50px;
      #header_logo > a > img {
        // .invert(0%);
      }
      .menu-content{
        li{
          &.left-radius, &.right-radius{ border-color: @color_wh; }
          a{
            color: @color_wh;
            &:after {
              background-color: @color_wh;
            }
          }
        }
      }
    }
  }
  // .header-container{
  //   background-image: url('/img/home_image.jpg');
  //   background-image: url('/img/home_image_squared.jpg');
  //   background-size: auto 120vh;
  //   margin-bottom: 100px;
  //   background-position: top left;
  //   height: 85vh;
  //   .title_index{
  //     text-align: center;
  //     color:    @color_wh;
  //     margin: 0px auto 20px;
  //     max-width: 80%;
  //     font-size: 50px;
  //     line-height: 60px;
  //     font-weight: normal;
  //   }
  //   .subtitle{
  //     text-align: center;
  //     color:    @color_wh;
  //     font-family: @second_font;
  //     font-size: 18px;
  //     line-height: 24px;
  //     font-weight: 300;
  //     max-width: 520px;
  //     margin: 10px auto;
  //   }
  //   .search_container{
  //     .box-shadow(0px 2px 32px fade(black, 10));
  //     .border-radius(4px);
  //     background: @color_wh;
  //     display: block;
  //     width: 540px;
  //     font-size: 22px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     margin-top: 80px;
  //     margin-bottom: 50px;
  //     @media @smartphones{
  //       width: 80%;
  //         transform:none;
  //     }
  //     .link_bar{
  //       border-bottom: 3px solid @color_gray;
  //       margin: 0;
  //       .top_link{
  //         text-align: center;
  //         padding: 0;
  //         margin: 0 30px;
  //         height: 70px;
  //         line-height: 70px;
  //         a{
  //           color:   @cl_label;
  //           font-size: 21px;
  //           display: block;
  //           position: relative;
  //           .transition(.4s ease color~"," .4s ease font-weight);
  //           font-weight: 500;
  //
  //           &:after {
  //             content: '';
  //             position: absolute;
  //             bottom: 0;
  //             height: 3px;
  //             width: 0%;
  //             left: 50%;
  //             background-color: transparent;
  //             .translate(-50%, 0);
  //             .transition(.4s ease width);
  //           }
  //
  //           &:hover,&:active{
  //             color:@color_pink;
  //             text-decoration: none;
  //             font-weight: bold;
  //
  //             &:after {
  //               background-color:@color_pink;
  //               width: 100%;
  //             }
  //
  //           }
  //         }
  //       }
  //     }
  //     .search_form{
  //
  //       .search_form_container {
  //
  //         margin: 0;
  //         padding: 0 20px;
  //
  //         .form-group{
  //           margin-top: 17px;
  //           display: block;
  //
  //           label{
  //             color: @cl_label;
  //             font-family: @second_font;
  //             font-weight: 300;
  //             text-transform: uppercase;
  //             font-size: 18px;
  //             margin: 0;
  //             line-height: 30px;
  //           }
  //           input[type=text] {
  //             background-color: @color_gray;
  //             border: 0;
  //             line-height: 45px;
  //             height: 45px;
  //             .border-radius(0);
  //             .box-shadow(none);
  //           }
  //
  //           &.lavoro {
  //             .checker {
  //               float: left;
  //               margin-top: 8px;
  //               margin-right: 10px;
  //             }
  //             .__beautyform_el {
  //               float: left;
  //               display: block;
  //               margin-right: 10px;
  //             }
  //             label {
  //               float: left;
  //             }
  //           }
  //
  //
  //           &.quando {
  //             label {
  //               display: block;
  //               width: 100%;
  //             }
  //             #da_data {
  //               float: left;
  //               width: calc(50% ~"-" 8px);
  //               margin-right: 8px;
  //             }
  //             #a_data {
  //               float: left;
  //               width: calc(50% ~"-" 8px);
  //               margin-left: 8px;
  //             }
  //           }
  //           &.ospiti {
  //             label {
  //               display: block;
  //               width: 100%;
  //             }
  //
  //             .__beautyform_el {
  //               width: 40%;
  //               padding: 0;
  //               margin-right: 15px;
  //               background-color: @color_gray;
  //               line-height: 45px;
  //               height: 45px;
  //             }
  //           }
  //           &.submit {
  //
  //             .cerca{
  //               background: @color_pink;
  //               border-color: @color_pink;
  //               color: @color_wh;
  //               // text-transform: uppercase;
  //               line-height: 35px;
  //               font-size: 22px;
  //               margin-top: 0;
  //               width: 100%;
  //
  //             }
  //           }
  //
  //           // &.where,&.date,&.guest,&.submit{
  //           //   padding: 35px;
  //           //     @media @smartphones{
  //           //       padding: 0;
  //           //     }
  //           // }
  //           &.work{
  //             padding-left: 35px;
  //             @media @smartphones{
  //               padding: 0;
  //             }
  //           }
  //           &.submit{
  //             padding-top: 0;
  //           }
  //         .form-control{
  //           height: 40px;
  //           background-color: @color_gray;
  //             &#work{
  //               height: 15px;
  //               text-align: left;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .columns-container{
    .mpm-featuredproducts-slider-container{

      .mpm-featuredproducts-slider-head{
        margin-bottom: 50px;
        .mpm-featuredproducts-slider-title{
          color: @color_title;
          font-weight: 600;
          font-family: @primary_font;
        }
      }
      .mpm-featuredproducts-slider-wrapper{
        .slick-prev.slick-arrow{
          position: absolute;
          z-index: 1;
          margin-left:-85px;
          left: 0;
          transform: translate(0,-25%);
          @media @smartphones{
            margin-left:-50px;
          }
        }
        .slick-list{
          article{
            .mpm-featuredproducts-product-info-container{
              //località-slide
              .mpm-featuredproducts-product-locality{
                font-family: @second_font!important;
                color: @cl_label;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
              }
              //nome-slide
              .mpm-featuredproducts-product-title{
                font-family: @second_font!important;
                color: @color_bk;
                font-size: 18px;
              }
              //costo-slider
              .mpm-featuredproducts-product-price-block{
                text-align: left;
                margin-top:0;
                .price{
                  color: @color_bk!important;
                  font-family: @second_font;
                  font-size: 12px;
                }
              }
            }
          }
        }
        .slick-next.slick-arrow{
          position: absolute;
          z-index: 1;
          margin-right:-85Px;
          right: 0;
          transform: translate(0,-25%);
          @media @smartphones{
            margin-right:-50px;
          }
        }
      }
    }
  }

  .mpm-featuredproducts-slider-title {
    font-size: 50px;
    line-height: 60px;
    color: @color_title;
    font-family: @primary_font;
    margin: 15px 15px 30px;
  }

  .home-slide-case-vacanze {

    margin-bottom: 60px;

    .mpm-featuredproducts-img-container {
      a.thumbnail {
        display: block;
        padding: 0;
        border: 0;
      }

      .image-bg {
        .border-radius(4px);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: @image_gray;
        background-position: center center;

        .mpm-featuredproducts-img {

          .opacity(0);
          margin: 0;
          padding: 0;
          border: 0;
        }
      }

    }

    .mpm-featuredproducts-product-info-container{
      text-align: left;
      font-family: @primary_font;
      a {
        color: @cl_label;
        font-family: @primary_font;
      }
      //località-slide
      .mpm-featuredproducts-product-locality{
        font-family: @primary_font;
        color: @cl_label;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
        margin-top: 15px;
      }
      //nome-slide
      .mpm-featuredproducts-product-title{
        font-family: @primary_font;
        color: @color_blue;
        font-size: 18px;
        margin-bottom: 5px;
        line-height: 20px;
      }
      //costo-slider
      .mpm-featuredproducts-product-price-block{
        text-align: left;
        margin-top:0;
        .price{
          color: @color_blue;
          font-family: @primary_font;
          font-size: 12px;
        }
      }
      .mpm-featuredproducts-product-description-block {
        display: none;
      }
    }

    .owl-nav {
      button {
        position: absolute;
        top: 50%;
        .translate(0, -50%);
        margin-top: -50px;
        height: 80px;
        width: 80px;
        line-height: 80px;
        .box-shadow(0 1px 4px 1px fade(@color_bk, 14));
        background-color: @color_wh;
        .border-radius(40px);

        &.owl-prev {
          left: -40px;
        }
        &.owl-next {
          right: -40px;
        }

        > span {
          font-size: 50px;
          line-height: 76px;
          font-weight: lighter;
          color: @cl_label;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
//  END home

// catogory and products

#columns {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
  .breadcrumb {
    display: none;
  }
}

#layered_form {
  div {
    div.layered_filter {
      > ul {
        overflow: visible;

        > .__beautyform_el {
          width: 100%;
        }
      }
    }
  }
}

.content_sortPagiBar {
  #productsSortForm {
    div.selector1 {
      > div {
        width: 300px;
      }
    }
  }

  .sortPagiBar {
    border: 0;
  }
}

 .top-pagination-content, .bottom-pagination-content { float:left;width: 55%; }

.product-and-map-continer {
  // height: 72vh;

  #product_list {
    width: 55%;
    float: left;
    margin: 0;
  }

  #map_list_container {
    width: 45%;
    float: left;
    margin: 0;
    height: 100%;


    #map_sizer {
      .transition(0s margin ease-in-out~"," 0s height ease-in-out);
    }
  }
}

#category{
ul.product_list {

  padding-right: 15px;


   li {
    padding: 0;
    .product-container {

      // border: 1px solid @border_gray;
      padding: 0;
      margin-bottom: 25px;
      .container-flex {

        .flex-display();

        .left-block {
          width: 247px;
          height: 247px;

          .product-image-container {
            padding: 0;
            border: 0;

            .product-list-image-carousel {

              .owl-nav {

                button {

                  color: @color_wh;
                  font-size: 14px;
                  position: absolute;
                  top: 50%;
                  display: block;
                  .translate(0, -50%);
                  .border-radius(50%);

                  cursor: pointer !important;
                  display: block !important;
                  position: absolute !important;
                  height: 30px !important;
                  width: 30px !important;
                  pointer-events: auto !important;
                  box-shadow: 0 0 5px 1px #888888;



                  &.owl-prev {
                    left: 0px !important;
                    text-align: left;
                    color: @color_pink;
                    background: @color_wh;
                     span {
                      font-size: 30px;
                      line-height: 30px;
                      margin-left: 10px;
                    }
                  }
                  &.owl-next {
                    right: 0px !important;
                    text-align: right;
                    color: @color_pink;
                    background: @color_wh;
                     span {
                      font-size: 30px;
                      line-height: 30px;
                      margin-right: 10px;
                    }
                    }
                  }

                  &:focus {
                    outline-width: 0px;
                  }
                }
              }
              .owl-dots {
                opacity: 0;
                .transition(.2s ease-in-out opacity);
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
                height: 10px;
                text-align: center;

                .owl-dot {
                  display: inline-block;
                  height: 8px;
                  width: 8px;
                  .border-radius(4px);
                  background-color: fade(@color_wh, 50);
                  margin: 0 2px;

                  &.active {
                    background-color: @color_wh;
                  }
                }
              }

              &:hover {
                .owl-nav,
                .owl-dots {
                  opacity: 1;
                }
              }
            }
            .slick-arrow {
              display: none;
              position: absolute;
              top: 50%;
              .translate(0, -50%);

              &.slick-prev {}
              &.slick-next {}
            }
          }
        }

        .right-block {
          padding: 15px 30px;
          position: relative;
          .flex-grow(2);
          .product-name {
            color: @color_blue;
            font-size: 24px;
            font-weight: 800;
          }
          .right-block-content {
            position: relative;

          }
          .bottom-block-content {
            position: absolute;
            bottom: 15px;
            left: 30px;
            width: calc(100% ~"-" 60px);

            .availability {
              float: left;
              .label-success {
                padding: 2px 4px;
                font-weight: 800;
                margin-bottom: 0;
                color: @color_pink;
              }
            }
            .content_price {
              float: right;
              .price {
                color: @color_blue;
                }
            }
            .button-container {
              display: none;
            }
          }
        }
      }
    }

    &:hover {
      .product-image-container {
        .quick-view {
          display: none !important;
        }
      }
    }
  }
}

.top-container {
  background: @image_gray;
  position: relative;
  margin-bottom: 2px;

  &:before {
    content: '';
    background-color: @image_gray;
    position: absolute;
    z-index: 1;
    top: 0%;
    height: 100%;
    width: 100vw;
    left: 50%;
    .translate(-50%, 0);
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }

  .page-heading,
  .content_sortPagiBar {
    position: relative;
    z-index: 10;
  }
  .page-heading {
    float: left;
  }
  .content_sortPagiBar {
    float: right;
  }
}

  #product {
      #image-grid{
        display: inline-block;
        width: 100%;
        height: 650px;

      }
      .more{
        p{
          &.no-full{
            width: 800px;
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .show-more{
          color: @color_pink;
        }
      }

      //carouse
      #views_block{
        .owl-carousel{
          .owl-nav{
            .owl-prev{
              span{
                font-size: 30px;
                color:@color_pink;
              }
              position: absolute;
              top: 60%;
              left: -15px;
              .transform(translate(0, -50%));
              margin-top: -50px;
              height: 40px;
              width: 40px;
              line-height: 35px;

              .box-shadow( 0 1px 4px 1px rgba(34, 34, 34, 0.14));
              background-color: #fff;
              .border-radiuses(40px);
              -moz-background-clip: padding;
              -webkit-background-clip: padding-box;
              background-clip: padding-box;
            }
            .owl-next{
              span{
                font-size: 30px;
                color:@color_pink;
              }
              position: absolute;
              top: 60%;
              right: -15px;
              .transform(translate(0, -50%));
              margin-top: -50px;
              height: 40px;
              width: 40px;
              line-height: 35px;
              .box-shadow( 0 1px 4px 1px rgba(34, 34, 34, 0.14));
              background-color: #fff;
              .border-radiuses(40px);
              -moz-background-clip: padding;
              -webkit-background-clip: padding-box;
              background-clip: padding-box;
            }
          }
        }
      }



      .full-page{
        .detail-form{
          .services{
            .feature{
              display: inline-block;
              color: #777;
              font-weight: normal;

            }
          }
          .rules{
            p
            {
              &:before {
                content: "\25cf";
                font-size: 20px;
                color: @color_pink;
                display: inline-block;
                margin-right: 15px;
                padding-left: 15px;

              }
            }
          }
          .calendar{
            #myOwnReservationproductContent{
              width: 25%;
              @media @smallsmartphone, @smartphones{
                width: 100%;
              }
              #myOwnproductCalendarHeader{
                .myOwnNavigateTop{
                  .nav-prev{
                    color: @color_pink;
                    background: @color_wh;
                    .border-radiuses(50%);
                    font-size: 17px;
                    border:1px solid;
                    width: 40%;
                    height: 40%;
                  }
                  .nav-next{
                    color: @color_pink;
                    background: @color_wh;
                    .border-radiuses(50%);
                    font-size: 17px;
                    border:1px solid;
                    width: 40%;
                    height: 40%;
                  }
                }
              }
            }

          }
          .reviews_products{
            .productComment{
              .customer_name{
                color: @color_pink;
                font-weight: bold;
                font-size: 16px;
                text-transform: capitalize;
              }
            }
          }
        }
        .search-form{
          .search_container{
            float: rigth;
            width: 100%;
            margin: 0;
            padding: 0;
          }
        }

      }
      #bxslider1{
          text-align: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;

      }


      h1,h3{
        color:@color_title;
        font-weight: bold;
        border: none;
        background: none;
        padding: 0;
        margin-bottom: 25px;
        text-transform: capitalize;
      }





      .page-content{
        #showmenu{
          background: none;
          color:@color_pink;
          border:none;
          float: right;
          display: block;
        }
      }
      .bottom-fixed-info {
        position: fixed;
        bottom: 0;
        padding: 10px;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: @color_wh;
        .box-shadow(0 1px 4px 1px fade(@color_bk, 14));

        .product_attributes, .box-cart-bottom #product_payment_logos {
          display: none;
        }

        #buy_block {

          .box-info-product {
            background-color: transparent;
            border: 0;
            text-align: right;

            p {
              margin: 0;
              padding: 0;
              line-height: 25px;

              &.our_price_display {
                font-size: 16px;
                font-family: @second_font;
              }
            }

            .content_prices, .box-cart-bottom {
              display: inline-block;
              padding: 0;
              margin: 0;
            }
          }
        }
      }
}

// END catogory and products



// footer
.footer-container {
  background: @color_gray;
  #footer {
    color: @color_blue;
    .logo{
      width: 80%;
      margin-left: 0;
      margin-bottom: 25px;
    }
    h4 {
      color: @color_blue;
      font-weight: 400;
    }

    ul {
      li {
        .text-shadow(none);

        a {
          color: @color_blue;
          .text-shadow(none);
          font-weight: normal;
        }
      }
    }

    #social_block, #newsletter_block_left {
      display: none;
    }

    #block_contact_infos {
      border-color: @border_gray;

      > div {
        ul {
          li {
            i {
              .opacity(.3);
            }
          }
        }
      }
    }
  }
}
// END footer
