#error_div{
   font-weight: bold;
   color: #F44336; 
}
.user-pwd{
    margin-bottom:5px;
}
.vss-ui-dialog .shield {
    position: fixed;
    background: #333;
    top: 0;
    left: 0;
    z-index: 6000;
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
    _position: absolute;
}

.dialogNewLoginSignup .window {
    padding: 0;
}
.window
{
    /*        width: 845px;*/
    margin-top:5%; 
    /*        margin-left:30%;
            margin-top:5%;*/
    /*        width: 845px; 
            height: auto; 
            top: 5px; 
            left: 210px; 
            margin-top:140px; 
            margin-left:70px;*/
}
.small
{
    width: 34%;
    /*    height: auto; */
    margin-left:30%; 
    /*    width:32%;*/
}
.large
{
    width:60%;
    /*    height: auto; */
    margin-left:20%;
    /*    width:32%;*/
}
.vss-ui-dialog .window-absolute {
    position: absolute;
}
.vss-ui-dialog .window {
    z-index: 6001;
    text-align: left;
    padding: 10px;
    _position: absolute;
    -webkit-transition: top 100ms linear 0ms;
    -moz-transition: top 100ms linear 0ms;
    -ms-transition: top 100ms linear 0ms;
    transition: top 100ms linear 0ms;
}
.alpha30 {
    background: #333 transparent;
    background: rgba(51,51,51,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C333333',endColorstr='#4C333333');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C333333, endColorstr=#4C333333)";
}
.vss-ui-dialog .content {
    background: #fff;
    height: 100%;
}
#login-signup-newDialog {

    display:block;
    padding: 50px 40px 50px 40px;
    background-color: #f9f9f9;
}
.vss-ui-dialog .close-icon {
    background: url('../../img/front/cashback-popup-sprite-eaa3d42d.png') -173px 0 no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}
.vss-font-18 {
    font-size: 18px;
}
.vss-bold {
    font-weight: bold;
}
.bmargin10 {
    margin-bottom: 10px;
}
.login-wrap .login-form-input {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-left: 15px;
    color: #333;
    background: #fff;
    border: 1px solid #c3c3c3;
}
.login-wrap .login-form-input_large {
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-left: 15px;
    color: #333;
    background: #fff;
    border: 1px solid #c3c3c3;
}
.vss-input {
    font-size: 13px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    resize: none;
    font-family: inherit;
}
.user-pwd
{
    margin-top:30px;
}
.login-wrap .login-btn-wrap .submit-btn[disabled] {
    background: #ccc;
    border-color: #bbb;
    cursor: default;
    margin-top:20px;
    margin-right:50px;
}
.login-wrap .login-btn-wrap .submit-btn {
    width: 118px;
    height: 45px;
    font-size: 15px;
    background: #74d578;
    border: 1px solid #74d578;
    border-radius: 2px;
    outline: 0;
    color: #f9f9f9;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0,0,0,0.33);
}
.btn, .btn.btn-small {
    padding: 6px 12px 4px;
    font-size: 11px;
}
.login-wrap .login-bottom-msg {
    margin-top:25px;
    color: #333;
}
.vss-font-12 {
    font-size: 12px;
}

.vss-button-social {
    cursor: pointer;
    border: 0;
    width: auto;
    display: inline-block !important;
    zoom: 1;
    padding: 2px;
}
.vss-button-social_small {
    cursor: pointer;
    border: 0;
    width: 46px;
    height: 42px;
    display: inline-block;
    zoom: 1;
}
.login-wrap .social_fb {
    background: url("../../img/front/sprite-verification-6e57d5ae.png");
    background-position: -6px -164px;
    width: 172px;
    height: 42px;
}
.login-wrap .social_google {
    background: url("../../img/front/sprite-verification-6e57d5ae.png");
    background-position: -6px -231px;
    width: 172px;
    height: 42px;
}
.rmargin10 {
    float:left;
    margin-right: 10px;
}
.tmargin10 {
    margin-top: 10px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a:hover {
    color: #2271b2;
    text-decoration: underline;
}
.line
{
    overflow:hidden;
   
}
#line
{
    float:left;
    padding-left:45px;
}
.divider-div {
    margin-left:55%   !important;
    margin-top:3%;
    width: 10px;
    height: 210px;
    background: url("../../img/front/line-divider-fdaf8dde.png") no-repeat scroll 0 -69px transparent;
    position: relative;
    margin-left: 30px;
    vertical-align: middle;
}
.dialogNewLoginSignup .window {
    padding: 0;
}
.login-wrap .login_error {
    color: #e20808;
}
.login-wrap .help_msg {
    font-weight: bold;
    margin-bottom: 10px;
    vertical-align: middle;
}
.err-icon {
    background-position: -6px -6px;
    width: 23px;
    height: 23px;
    float: left;
}
.login-wrap .login_error .err_text {
    font-size:15px;
    margin-left: 20px;
    width: 370px;
    color:white;
    width:51%;
}
.signup_with_rightimage
{
    margin-left:249px;
    margin-top:-32px;
}
.signup_without_rightimage
{
    width: 40%;
    float: left;
}
.signup_text
{
    font-weight:bolder;
}
.frgt_pswd
{
    *max-width:50%;
    margin-top:25px;
    *width:50%;
}
.go_mar
{
    /*margin-left:50%;*/
}
.go_mar_small
{
    margin-left:18%;
}
.right_image
{
    padding:30px;
}
.login_small
{
    width:60%;
    float:left;
}
.alert.alert-danger:before {
    font-family: "FontAwesome";
    content: "\f057";
    font-size: 20px;
    vertical-align: -2px;
    padding-right: 7px;
    float: left;
}
.loading_block
{
    display:none; 
    margin-left:142px;
    margin-top:-30px; 
    position:absolute;
}
/* Validation CSS Start */
.kb_error_field {
   border: 1px solid #F44336 !important;
}

.kb_error_message {
   color: #F44336;
}

/* Validation CSS End */
@-moz-document url-prefix() {
    .small
    {
        width: 845px; 
        height: auto; 
        margin-top:10%; 
        margin-left:19%; 
        width:35%;
    }
}
.wh_sign
{
    width:19%;
}
.top_sign
{
    margin-top:30px;
}
.top
{
    margin-top:55px;
    width:150px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .top {
         margin-top:25px !important;
         width:150px;
    }
    .line
    {
        overflow:hidden !important;

    }
    #line
    {
        float:left !important;
        padding-left: 1px !important;
    }
    .divider{
        display:none;
    }
    #right_image
    {
        display:block !important;
    }
    #image
    {
        width:100% !important;
        margin-top:10px;
    }
    #login-signup-newDialog {

        display:block;
        padding: 34px 35px !important;

        background-color: #f9f9f9;
    }
    .login-wrap .login-form-input {
        width: 95%;
    }
    .right_image
    {
        padding:40px;   
        *padding-top:170%;    
        *padding-left:0% !important;
    }
    .large 
    {
        width: 100%;
    }
    .loading_block
    {
        display:none; 
        margin-left:125px;
        margin-top:-38px; 
        position:absolute;
    }
    .login-wrap .login-bottom-msg {
        margin-top:5px;
    }
    .small 
    {
        width: 100%;
    }
    .window
    {
        margin-left:0%;   
    }
    .tmargin10
    {
        margin-top:-10px;
    }
    .signup_with_rightimage
    {
        margin-left:180px;
        margin-top:-43px;
    }
    .signup_without_rightimage
    {
        margin-top:10%;
        
    }
    .wh_sign
    {
        width:20%;
    }
    .frgt_pswd
    {
        max-width:100% !important;
        margin-top:14px !important;
        width:155px;
    }
    .go_mar
    {
        max-height:100px !important;
        margin-left:0%;
    }
    .txt_fb_google
    {
        margin-left:15%;
    }
    .txt_fb_google_small
    {
        margin-left:33% !important;
    }
    .go_mar_small
    {
        margin-left:0% !important;
        margin-top:-40px;
    }
    .err_text
    {
        width: 100%  !important;
    }
    .login-social-wrap .login-btn-wrap
    {
        margin-top: 3%;
        margin-left:18%;
    }
    .rmargin10 {
        float:inherit;
        margin-right: 10px;
    }
    .signup_text{
        margin-top:35px !important;
    }
    .vss-button-social_small{
        margin-right:20px !important;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .line
    {
        overflow:hidden !important;

    }
    #line
    {
        float:left !important;
        padding-left: 1px !important;
        width:100% !important;
    }
    .divider{
        display:none;
    }
    #right_image
    {
        display:block !important;
    }
    #image
    {
        width:200px;
        margin-top: 10px;
    }
    .login-wrap .login-form-input {
        width: 95%;
    }
    .right_image
    {
        padding:30px !important;
/*        padding-right:40px;   
        padding-top:125%;    
        padding-left:0% !important;*/
    }
    .large 
    {
        width: 58%;
        margin-left:15%;
    }
    .loading_block
    {
        display:none; 
        margin-left:125px;
        margin-top:-35px; 
        position:absolute;
    }
    .login-wrap .login-bottom-msg {
        margin-top:5px;
        color: #333;
    }
    .small 
    {
        margin-left:15%;
        width:70%;
    }
    .tmargin10
    {
        margin-top:-10px;
    }
    .signup_with_rightimage
    {
        margin-top:-43px;
    }
/*    .signup_without_rightimage
    {
        margin-top:3px;
        float: none !important;
    }*/
    .login_small
    {
        width:58%;
        float:left;
    }
/*    .frgt_pswd
    {
        max-width:100% !important;
        margin-top:30px !important;
        width:155px;
    }*/
    .go_mar
    {
        max-height:100px !important;
        margin-left:0%;
    }
    .txt_fb_google
    {
        *margin-left:30%;
    }
    .txt_fb_google_small
    {
        margin-left:20%;
    }
    .go_mar_small
    {
        margin-left:30%;
        margin-top:-42px;
    }
    .err_text
    {
        width: 100%  !important;
    }
    .login-social-wrap .login-btn-wrap
    {
        margin-top: 3%;
    }
    .rmargin10 {
        float:inherit;
        margin-right: 10px;
    }
    .login-social-wrap{
        padding-left: 35px !important;
        padding-top: 10px !important;
    }
    .wh_sign {
       width: 40% !important;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    #login-signup-newDialog {

        display:block;
        padding: 34px 35px !important;

        background-color: #f9f9f9;
    }
    .line
    {
        overflow:hidden !important;

    }
    #line
    {
        float:left !important;
        padding-left: 1px !important;
    }
    .divider{
        display:none;
    }
    #right_image
    {
        display:block !important;
    }
    #image
    {
        width:100% !important;
        margin-top:10px;
    }
    .login-wrap .login-form-input {
        width: 95%;
    }
    .right_image
    {
/*        padding-right:40px;   
        padding-top:120%;    
        padding-left:0% !important;*/
        padding:30px !important;
    }
    .large{
        margin-left:22%;

    }
    .loading_block
    {
        display:none; 
        margin-left:125px;
        margin-top:-32px; 
        position:absolute;
    }
    .login-wrap .login-bottom-msg {
        margin-top:5px;
        color: #333;
    }
    .small 
    {
        margin-left:22%;
        width:58% !important;
    }
    .tmargin10
    {
        margin-top:-10px;
    }
    .signup_with_rightimage
    {
        margin-top:-43px;
    }
    .frgt_pswd
    {
        max-width:100% !important;
        margin-top:30px !important;
        width:155px;
    }
    .go_mar
    {
        max-height:100px !important;    
        margin-left:0%;
    }
    .txt_fb_google
    {
        margin-left:19%;
    }
    .txt_fb_google_small
    {
        margin-left:37%;
    }
    .go_mar_small
    {
        margin-left:30%;
        margin-top:-42px;
    }
    .err_text
    {
        width: 100%  !important;
    }
    .login-social-wrap .login-btn-wrap
    {
        margin-top: 3%;
        margin-left:28%;
    }
    .rmargin10 {
        float:inherit;
        margin-right: 10px;
    }
}
@media (max-width: 240px) {
 .line
    {
        overflow:hidden !important;

    }
    #line
    {
        float:left !important;
        padding-left: 1px !important;
    }
    .divider{
        display:none;
    }
    #right_image
    {
        display:block !important;
    }
    #image
    {
        width:330px;
    }
    .login-wrap .login-form-input {
        width: 95%;
    }
    .right_image
    {
        padding-right:40px;   
        padding-top:125%;    
        padding-left:0% !important;
    }
    .large 
    {
        width: 58%;
        margin-left:15%;
    }
    .loading_block
    {
        display:none; 
        margin-left:125px;
        margin-top:-35px; 
        position:absolute;
    }
    .login-wrap .login-bottom-msg {
        margin-top:5px;
        color: #333;
    }
    .small 
    {
        width:100% ;
    }
    .tmargin10
    {
        margin-top:-10px;
    }
    .signup_with_rightimage
    {
        margin-top:-43px;
    }
/*    .signup_without_rightimage
    {
        margin-top:3px;
        float: none !important;
    }*/
    .login_small
    {
        width:58%;
        float:left;
    }
/*    .frgt_pswd
    {
        max-width:100% !important;
        margin-top:30px !important;
        width:155px;
    }*/
    .go_mar
    {
        max-height:100px !important;
        margin-left:0%;
    }
    .txt_fb_google
    {
        *margin-left:30%;
    }
    .txt_fb_google_small
    {
        margin-left:37%;
    }
    .go_mar_small
    {
        margin-left:30%;
        margin-top:-42px;
    }
    .err_text
    {
        width: 100%  !important;
    }
    .login-social-wrap .login-btn-wrap
    {
        margin-top: 3%;
    }
    .rmargin10 {
        float:inherit;
        margin-right: 10px;
    }
    .login-social-wrap{
        padding-left: 35px !important;
        padding-top: 10px !important;
    }
    .wh_sign {
       width: 40% !important;
    }
    .alpha30{
        width:100% !important;
    }
    
}