/*
	Global
*/
#gsr .clear {clear: both;}
#gsr .text-size-07 {font-size: 0.7em;}
#gsr .text-size-1 {font-size: 1em;}
#gsr .text-size-9 {font-size: 9pt;}
#gsr .left {float: left;}
#gsr .inline {display: inline !important;}
#gsr .inline-block {display: inline !important;}
#gsr .width-auto {width: auto;}
#gsr .width-100 {width: 100%;}
#gsr .padding-left5 {padding-left: 5px !important;}
#gsr .padding-left10 {padding-left: 10px !important;}
#gsr .inline-block {display: inline !important;}
#gsr .text-center, .gsr-text-center  {text-align: center !important;}
#gsr .nowrap  {white-space: nowrap;}
#gsr .hide {display: none;}
#gsr .clr_0,
#gsr .clr_1,
#gsr .clr_5,
#gsr .clr_10,
#gsr .clr_15,
#gsr .clr_20,
#gsr .clr_30,
#gsr .clr_50,
#gsr .clr_80,
#gsr .clr_100,
.gsr-clr_0,
.gsr-clr_1,
.gsr-clr_5,
.gsr-clr_10,
.gsr-clr_15,
.gsr-clr_20,
.gsr-clr_30,
.gsr-clr_50,
.gsr-clr_80,
.gsr-clr_100,
#gsr .clr_hr {background:none; clear:both !important;float:none !important;position:relative; padding:0 !important;margin:0 !important;display:block !important}
#gsr .clr_hr,
.gsr-clr_0,
#gsr .clr_0
{height:0 !important;}
#gsr .clr_1, .gsr-clr_0 {height:1px !important}
#gsr .clr_5, .gsr-clr_5 {height:5px !important}
#gsr .clr_10, .gsr-clr_10 {height:10px !important}
#gsr .clr_15, .gsr-clr_15 {height:15px !important}
#gsr .clr_20, .gsr-clr_20 {height:20px !important}
#gsr .clr_30, .gsr-clr_30 {height:30px !important}
#gsr .clr_40, .gsr-clr_40 {height:40px !important}
#gsr .clr_50, .gsr-clr_50 {height:50px !important}
#gsr .clr_80, .gsr-clr_80 {height:80px !important}
#gsr .clr_100, .gsr-clr_100 {height:100px !important}
#gsr .clr_hr {border-bottom:1px solid #CCC !important;}
#gsr div.radio span {display: inline !important}
#gsr .size14 {font-size: 14px !important;}
.gsr-col-lg-12 {width: 100% !important;}
/*
	END - Global
*/

/*
	Generic review : front/review-list.tpl / hook/last-review-block.tpl / hook/product-tab-content.tpl / front/customer-account.tpl / hook/product-review-form.tpl / hook/post-review-popin.tpl
*/
#gsr .row {display: inline;}
#gsr .left-block {float: left;}
#gsr .review-line-rating {margin: 5px 0 5px 10px; float: right; display: inline;}
#gsr .review-line {border-bottom: 1px solid #ddd; xpadding-bottom: 15px; margin-bottom: 20px;}
#gsr .review-line-list {border-bottom: 1px solid #ddd; padding: 0 10px 0 15px; margin-bottom: 15px;}
#gsr .review-line-list .border-left {border-left: 5px solid #DFDCDC !important; padding-left: 10px !important;}
#gsr .review-line-name {clear:both; display: block; height: 18px; vertical-align:middle;}
#gsr .review-line-name strong {color: #333;}
#gsr p.review-line-name {clear:both; display: block; vertical-align:middle; margin: 0 !important;}
#gsr p.review-line-name strong {color: #333;}
#gsr .rvw-additional-txt {font-style: italic; float: right; font-size: 10pt;}
#gsr .review-line-comment strong {color: #333; font-weight: normal; font-size: 16px;}
#gsr .review-line-comment a {font-size: 10pt;font-weight: 600;}
#gsr .zindex {z-index:10000}
#gsr .valign-top {vertical-align:top;}
#gsr .padding0202 {padding: 0 2px 0 2px !important;}
#gsr .absolute {position:absolute;}
#gsr .cbk-pointer {cursor:pointer !important;}
/* review's report link */
#gsr .review-report {float: right !important; margin-bottom: 10px !important;}
#gsr .review-report a {text-decoration: none !important; font-size: 1em !important;}
/* pagination */
#gsr ul.pagination li#previous {background-position: top left !important;}
#gsr ul.pagination li#next {background-position: top right !important;}
/* block quote */
#gsr .blockquote-reverse {padding-right: 15px; padding-left: 0; text-align: right; border-right: 5px solid #eee; border-left: 0;}
#gsr .blockquote-reverse p {font-size: 100% !important;}
#gsr .blockquote-reverse footer {display: block !important; font-size: 80% !important; line-height: 1.42857143 !important; color: #777 !important;}
#gsr .blockquote-reverse footer:after {content: '\00A0 \2014';}
/* alert class */
#gsr .bt_form-error {
	border: 1px solid #f13340 !important;
	color: #f13340 !important;
	background: 98% 5px no-repeat #fff1f2 !important;
}
#gsr .form-warning {
	background-color: #fcf8e3 !important;
	color: #8a6d3b !important;
	border-left: solid 3px #f4c178 !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	border-radius: 3px !important;
}
#gsr .form-info {
	background-color: #f8fcfe !important;
	color: #31b0d5 !important;
	border: solid 1px #c5e9f3 !important;
	border-radius: 3px !important;
}
#gsr .margin-right {margin-right: 10px;}
/*
	END - Generic review
*/

/*
	product-review-block.tpl
*/
#gsr.productLeft .review-count-text, #gsr.productRight .review-count-text, #gsr.productAction .review-count-text {font-size: 10px !important; color: #333 !important;}
#gsr.productLeft .default-text, #gsr.productRight .default-text, #gsr.productAction .default-text, #gsr.productBottom .default-text {font-style: italic;font-size: 0.8em !important; color: #777676 !important; padding-left: 10px !important;}
#gsr.productBottom .review-count-text {font-size: 12px !important; color: #333 !important;font-weight: 600 !important;}
#gsr.productLeft .display-distribution,
#gsr.productRight .display-distribution,
#gsr.productBottom .display-distribution,
#gsr.productAction .display-distribution {margin-top: 10px; padding-bottom: 10px; width: 125px; border: 1px solid #ccc; background-color: #fff !important; padding-top: 10px; padding-left: 10px; border-radius: 3px; clear: both; text-align: left;}
#gsr.productAction .display-distribution {margin-left: 15px;}
#gsr.productLeft .display-distribution div.display-distribution-line,
#gsr.productRight .display-distribution div.display-distribution-line,
#gsr.productBottom .display-distribution div.display-distribution-line,
#gsr.productAction .display-distribution div.display-distribution-line {display: block; float: none; margin: 0; padding: 0; text-align: left; height: 18px; clear: both;}
#gsr.productLeft.average-heading,
#gsr.productRight.average-heading {margin-bottom: 15px;border-top: 1px solid #d6d4d4;font-weight: 600;font-size: 14px;}
#gsr.productRight.average-heading .padding-left,
#gsr.productLeft.average-heading .padding-left,
#gsr.productAction.average-heading .padding-left {padding-left: 0;}
#gsr.productBottom.average-heading .padding-left {padding-left: 15px;}
#gsr.productBottom.average-heading .btn,
#gsr.productAction.average-heading .btn,
#gsr.productLeft.average-heading .btn,
#gsr.productRight.average-heading .btn {margin-top: 10px}
#gsr.productAction.average-heading .average-heading-title,
#gsr.productLeft.average-heading .average-heading-title,
#gsr.productRight.average-heading .average-heading-title {
	margin-bottom: 10px;
	color: #333;
}
#gsr.productLeft.average-heading .average-heading-title,
#gsr.productRight.average-heading .average-heading-title {margin-top: 10px;}
#gsr.productAction.average-heading .average-heading-title {margin-top: 5px;}
#gsr.productBottom.average-heading .average-heading-title {
	color: #555454; text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: 0 0 20px;
	position: relative;
	border: 1px solid #d6d4d4;
	border-bottom: none;
	background: #fbfbfb;
}
#gsr.productBottom.average-heading > div {padding: 0 20px 20px;}
#gsr.productAction.average-heading {
	font-weight: 600;font-size: 14px;
	-webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05); box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
	padding: 15px 0 17px 0;
	border: none;
}
#gsr.productAction.average-heading .padding-left-15 {padding-left: 15px;}
#gsr.productAction.average-heading .padding-left-right {padding-left: 10px; padding-right: 5px;}
#gsr.productAction.average-heading a.btn {padding: 6px 10px 6px 10px !important;}
#gsr.productLeft a.distrib-text, #gsr.productRight a.distrib-text, #gsr.productBottom a.distrib-text, #gsr.productAction a.distrib-text {cursor: pointer;text-decoration: underline; font-size: 12px; font-style: italic;}
#gsr.productLeft div.display-review, #gsr.productRight div.display-review, #gsr.productBottom div.display-review, #gsr.productAction div.display-review {min-width: 80px !important; margin: 0; padding: 0; white-space:nowrap;}
#gsr.productLeft div.display-review span, #gsr.productRight div.display-review span, #gsr.productAction div.display-review span {font-size:11px; color:#333;}
#gsr.productBottom div.display-review span {font-size:12px; color:#333;}
#gsr.productLeft div.display-review .star, span.star-rating-control div.star {margin: 0 !important;}
#gsr.productRight div.display-review .star, span.star-rating-control div.star {margin: 0 !important;}
#gsr.productBottom div.display-review .star, span.star-rating-control div.star {margin: 0 !important;}
#gsr.productAction div.display-review .star, span.star-rating-control div.star {margin: 0 !important;}
/*
	END - product-review-block.tpl
*/

/*
	product-tab-content.tpl
*/
#gsr blockquote {margin-left: 30px;}
#gsr blockquote p {font-size: 15px;}
#gsr .fb-share-button > span {height: 25px !important}
/*
	END - product-tab-content.tpl
*/

/*
	last-reviews-block.tpl
*/
#gsr .last-reviews-top {padding: 15px;}
#gsr .last-reviews-bottom div.align-right, .last-reviews-top div.align-right, .last-reviews-home div.align-right, .last-reviews-colLeft div.align-right, .last-reviews-colRight div.align-right {float: right; margin-right: 5px;}
#gsr .last-reviews-bottom div.review-line {border-bottom: 1px solid #515151;}
#gsr .last-reviews-bottom div.review-line, #gsr .last-reviews-top div.review-line {padding-left: 15px; padding-right: 10px;}
#gsr .last-reviews-bottom .review-name {color: inherit;}
#gsr .last-reviews-bottom .review-line-name strong {color: #777;}
#gsr .last-reviews-bottom .title-block,
#gsr .last-reviews-bottom .title-block a {background: none; border: none; color: #FFF !important; text-transform: none; padding: 0; margin: 0; margin-bottom: 15px;}
#gsr .last-reviews-bottom div.align-right {float: right; margin-right: 5px;}
#gsr .last-reviews-bottom .btn.btn-default.button.button-small {color: #ccc !important;}
/*
	END - last-reviews-block.tpl
*/

/*
	hook/review-page-list.tpl (stars and rating returned into ProductListReview hook)
*/
#gsr-review-list label:before {font-size: inherit !important;}
#gsr-review-list.bg-white, #gsr-review-list .bg-white {line-height: 20px !important;}
.gsr-review-count-padding {padding: 3px !important;}
.gsr-review-count-padding-1611 {vertical-align: top !important;}
.gsr-review-count-rating {vertical-align: middle; color: #333;}
.gsr-review-stars-1611 div.radio span {display: inline !important;}
.gsr-review-count-rating-1611 {vertical-align: top !important; color: #333; padding: 0 !important;}
.gsr-no-underline {text-decoration: no-underline !important;}
.gsr-side-text-8 {font-size: 8px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-9 {font-size: 9px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-10 {font-size: 10px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-11 {font-size: 11px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-12 {font-size: 12px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-13 {font-size: 13px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-14 {font-size: 14px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-15 {font-size: 15px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-16 {font-size: 16px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-17 {font-size: 17px !important; xfloat: left !important; xpadding-left: 10px !important;}
.gsr-side-text-18 {font-size: 18px !important; xfloat: left !important; xpadding-left: 10px !important;}
/*
	END - hook/review-page-list.tpl (stars and rating returned into ProductListReview hook
*/

/*
	hook/review-report.tpl
*/
#gsr .height200 {height: 200px !important;}
#gsr .report-button-margin {margin: 15px 0 20px 0;}
#gsr .required {font-size: 12px; color: red;vertical-align: bottom;}
/*
	END - hook/review-page-list.tpl (stars and rating returned into ProductListReview hook
*/

/*
	My account > my reviews page (front/customer-account.tpl)
*/
#gsr table th.min-120 {min-width: 120px;}
#gsr .icon-ok-sign {font-size: 20px !important;color:#3C763D;}
#gsr .icon-remove-sign, #gsr .icon-time {font-size:20px; color:#A94442;}
/* Slider block */
#gsr .homeslider-container .homeslider-description {padding: 20px;}
#gsr .homeslider-container .homeslider-description h3 {background: #FFF;}
#gsr .homeslider-container .homeslider-description p {width: 100%;}
#gsr .homeslider-container .wrap-ao-rating-block {position: absolute; top: 50px; left: 0; width: 100%; text-align: center;}
#gsr .homeslider-container .wrap-ao-rating-block .ao-rating-block {display: inline-block; padding: 20px; background-color: rgb(255, 255, 255); background-color: rgba(255, 255, 255, 0.9);}
#gsr .homeslider-container .wrap-ao-rating-block .ao-rating-block .btn {display: inline-block;}
#gsr .homeslider-container .wrap-ao-rating-block .ao-rating-block .btn {display: inline-block;}
#gsr .homeslider-container .wrap-ao-rating-block .ao-rating-block .star-rating-control {display: inline-block;}
#gsr #homepage-slider .bx-controls .bx-controls-direction a {background: #535353;}

@media (max-width: 500px) {
	.responsive-table-line td:before {
		content: attr(data-title);
	}

	.responsive-table-line table,
	.responsive-table-line thead,
	.responsive-table-line tbody,
	.responsive-table-line th,
	.responsive-table-line td,
	.responsive-table-line tr {
		display: block;
	}

	.responsive-table-line thead tr {
		display: none;
	}

	.responsive-table-line td {
		position: relative;
		border: 0px solid transparent;
		padding-left: 50% !important;
		white-space: normal;
		text-align: center;

	}

	.responsive-table-line td:before {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 45%;
		padding-right: 15px;
		height: 100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow: hidden !important;
		background-color: #f8f8f8;
		padding: 2px;
		font-weight: bold;
		text-align: center;
		font-size: 14px;
	}

	.responsive-table-last-td {
		border-bottom: 3px solid #000000 !important;
	}
}

#bt_review_account .rating-star-yellow {
	float: none !important;
}
/*
	END - My account > my reviews page (front/customer-account.tpl)
*/

/*
	comment form (hook/product-review-form.tpl / front/review-form.tpl)
*/
#gsr #comment-form {color: #333; text-align: left; background-color: #fff; padding-right: 15px !important;}
#gsr #comment-form .padding-20 {padding:0 20px 20px 20px;}
#gsr #comment-form .margin-top {margin-top: 9px;}
#gsr #comment-form .margin-left {margin-left: 10px;}
#gsr #comment-form .stars-right {float: right !important; margin-right: 5px; display: inline !important;margin-top: -15px;}
#gsr #comment-form .review {cursor:pointer; margin-bottom: 15px; display: block;}
#gsr #comment-form .review-report {float: right !important; margin-bottom: 10px !important;cursor: pointer !important;}
#gsr #comment-form .review-title {width: 300px;}
#gsr #comment-form .review-comment {width: 300px; height: 200px;}
#gsr #comment-form .product { }
#gsr #comment-form .product a { display: inline-block;}
#gsr #comment-form .product img {float:left; margin-right:20px; border: 1px solid #ccc;}
#gsr #comment-form .product .description {margin-top: 15px; line-height:18px; color:#666;}
#gsr #comment-form .product .description a {width: 100% !important;}
#gsr #comment-form .product .description a img {float:left; margin-right:20px;}
#gsr #comment-form label {display: block; margin:12px 0 4px 0; font-weight: bold; font-size: 12px;}
#gsr #comment-form input {padding: 0 5px; height: 28px; width: 100% !important; min-width: 100% !important; border: 1px solid #ccc; background: #fff;}
#gsr #comment-form img.left {float:left; margin-right:20px;}
#gsr #comment-form textarea {padding: 0 5px; height: 200px; width: 100% !important; min-width: 100% !important; border: 1px solid #ccc; background: #fff;}
#gsr #comment-form div.rewards-info {padding: 5px 10px !important; background-color: #f6f6f7; border: 1px solid #D0D3D8; margin-bottom: 10px;}
#gsr #comment-form div.rewards-info p {margin: 0 !important; padding: 5px 0 !important;}
#gsr #comment-form div.rewards-info p, #gsr #comment-form div.rewards-info p span, #gsr #comment-form div.rewards-info p span img {vertical-align: middle;}
#gsr #comment-form .footer {margin-top: 20px;font-size: 12px;}
#gsr #comment-form .content {padding-bottom: 10px; font-weight: bold; font-size: 12px}
#gsr #comment-form .required {font-size: 12px; color: red;vertical-align: bottom;}
#gsr #comment-form .size12 {font-size: 12px !important;}
#gsr #comment-form .help-block {color: #b7b7b7 !important;}
#gsr #comment-form .has-error input[type="text"],
#gsr #comment-form .has-error input[type="search"],
#gsr #comment-form .has-error input[type="password"],
#gsr #comment-form .has-error textarea,
#gsr #comment-form .has-error select {
	background-color: #f9cce1;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
/* Start responsive modal */
@media only screen and (max-width:1020px){
	#fancybox-wrap {width:70% !important; margin:3% 15% !important; left:0 !important;}
	#fancybox-wrap #fancybox-content, #fancybox-wrap #fancybox-img{ height:100% !important; width:auto !important; text-align:center; max-width:100% !important;}
	#fancybox-wrap #fancybox-content {width:98% !important; padding:1% !important; border:none !important;}
	#gsr #comment-form .product img {width:45%; margin-right:5%;}
}
@media only screen and (max-width:750px) {
	#gsr #comment-form .product img {width:100%; margin:0; margin-bottom:10px;}
	#gsr #comment-form .product .description {margin:0;}
	#gsr #comment-form .content, .margin-15 {margin:15px;}
}
/* Stop responsive modal */
/*
	END - comment form (hook/product-review-form.tpl / front/review-form.tpl)
*/


/*#gsr #comment-form .review div.gsrReviewLineComment {padding:0 0 20px 0 !important; margin:0 !important;}*/
/*#gsr #comment-form .review div.gsrReviewLineComment label {font-weight:normal;}*/

#gsr .icon-facebook {color: #44609C;}
#gsr .accountLinks {text-decoration: underline;font-weight: bold; text-decoration-color: #777777;}
#gsr .bt_form-error {border: 1px solid #d9534f !important;}
#gsr .clr_20 {height:20px !important}
