.vertical_top_align
{
    padding: 15px;
}

    .accordian_container h3
    {
        border: 1px solid #ccc !important;
        font-size: 16px !important;
        line-height: 1.2em !important; 
        height: 37px !important;
        text-transform: none !important;
        padding: 8px 30px !important;
        margin: 0px !important;
        margin-bottom: 2px !important;
    }
    .ui-accordion .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        /* margin: 2px 0 0 0; */
        /* padding: .5em .5em .5em .7em; */
        /* min-height: 0; */
        /* font-size: 100%; */
    }
    .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
        position: absolute;
        left: .5em;
        top: 50%;
        margin-top: -8px;
    }
    .accdiv
    {
        height:auto !important;	
        overflow: hidden !important;
        text-align: center;
    }
    .accdiv img
    {
        border: 1px solid black;
    }
    .accdiv pre
    {
        text-align: left;	
    }
.list-group-item{
    cursor:pointer;
}

#vss-remove-bg-image
{
position:absolute;
margin-left:5px ;
}
#vss-remove-rg-image
{
position:absolute;
margin-left:5px ;
}

//For Clear Image Button

#vss-clear-bg-image
{
position:absolute;
margin-left:50px ;
}
#vss-clear-rg-image
{
position:absolute;
margin-left:5px ;
}
#clear-button1{
    display:none;
    margin-left:10px ;
}
#clear-button2{
    display:none;
    margin-left:10px ;
}

.vss-fb-link
{
position:absolute;
margin-left:52% ;
z-index:1000;
}
.vss-google-link
{
position:absolute;
margin-left:52% ;
z-index:1000;
}

.vss-icon {
    margin-right:2px;
}

/* Validation CSS Start */
.kb_error_field {
   border: 1px solid #F44336 !important;
}

.kb_error_message {
   color: #F44336;
}

.kb_error_message_file1{
    color: #F44336;
}

.kb_error_message_file2{
    color: #F44336;
}

/* Validation CSS End */