#idTab798 .table td {
    border-top: 0 none;
    vertical-align: middle;
}
.comment_column {
    width: 100%;
}
.comment_title {
    font-size: 18px;
    font-weight:bold;
}
.comment_answer {
    font-weight:bold;
    margin-left:50px;
}
#displayMore, #displayLess {
    cursor:pointer;
}
.comment_title, .comment_content, .comment_answer {
    text-align:left;
}
.lgcomment_summary {
    border: 2px solid #cdcdcd;
    display: table;
    padding: 20px 25px;
    font-family:"Open Sans",sans-serif;
    width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #777777;
}
.commentfilter {
    float:left;
    width:11%;
    margin-right:1%;
}
@media (max-width: 768px) {
    .commentfilter {
        float:none;
        width:70%;
        margin-right:0%;
    }
    .productComment table,
    .productComment td,
    .productComment tr {
        display: block;
    }
}
.lgcomment_button {
padding: 15px;
font-size: 16px;
line-height: 18px;
border: 1px solid #d6d4d4;
border-radius:10px;
background: none repeat scroll 0 0 #FFFFFF;
color: #777777;
}
