.topleft {
    position:fixed;
    left:0;
    top:20px;
}
.middleleft {
    position:fixed;
    left:0;
    top:35%;
}
.bottomleft {
    position:fixed;
    left:0;
    bottom:40px;
}
.topright {
    position:fixed;
    right:0;
    top:20px;
}
.middleright {
    position:fixed;
    right:0;
    top:35%;
}
.bottomright {
    position:fixed;
    right:0;
    bottom:40px;
}

@media screen and (max-width: 600px) {
    .topleft, .middleleft, .bottomleft, .topright, .middleright, .bottomright {
        position:relative;
    }
}

.close_widget_block {
    cursor:pointer;
}
.rotate {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg));
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
