.lgcomment_summary_title {
    text-transform:uppercase;
    font-weight:bold;
    font-size:16px;
}
.lgcomment_block .rating_img {
    margin-bottom: 5px;
    padding:10px;
}
.lgcomment_block .average {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.lgcomment_block .credits .name {
    font-weight: bold;
}
.lgcomment_block > div {
    display: table;
    margin: 0 auto;
}
.lgcomment_block .credits {
    width: 100%;
}
.lgcomment_block .credits .customer{
    float:left;
}
.lgcomment_block .credits .date{
    float:right;
}
.lgcomment_block .title {
    font-size: 18px;
    font-weight:bold;
    text-align: center;
    width: 100%;
    margin-bottom:10px;
}
.lgcomment_block .comment {
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom:15px;
}
#module-lgcomments-reviews .bottom-pagination-content.clearfix {
    border: 0 none;
    display: table;
    margin: 0 auto;
}
#module-lgcomments-reviews .pagination .showall, #module-lgcomments-reviews .top-pagination-content .product-count, .bottom-pagination-content .product-count {
    display: none;
}
#module-lgcomments-reviews .pagination {
    display: table;
    margin: 0px auto 0;
}
.lgcomment_block .answer {
    border-top: 1px solid #b8b8b8;
    margin-top:20px;
    padding-top:20px;
}
.lgcomment_linebreak {
    clear:both;
}