#ppc-tabs-list {
	margin: 10px 0 10px;
}

#ppc-tabs-list li {
	display: inline;
}

#ppc-tabs-list li>a {
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 5px 5px 0 0;
}

#ppc-tabs-list li.active>a {
	background-color: #c9c9c9;
}