.bootstrap .alert.alert-onboarding,.bootstrap #carrier_wizard .alert-onboarding.wizard_error {
    background-color: #fff;
    border-color: #4ec8e1;
    color: #25b9d7;
    position: relative;
    border: none;
    padding-left: 50px;
    border-left: solid 3px #fff;
    border: solid 2px #25b9d7;
    box-shadow: inset 140px 0 0 #25b9d7;
    padding: 20px 20px 20px 160px
}

.bootstrap .alert.alert-onboarding hr,.bootstrap #carrier_wizard .alert-onboarding.wizard_error hr {
    border-top-color: #39c1dd
}

.bootstrap .alert.alert-onboarding .alert-link,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .alert-link {
    color: #1e94ab
}

.bootstrap .alert.alert-onboarding:before,.bootstrap #carrier_wizard .alert-onboarding.wizard_error:before {
    position: absolute;
    top: 6px;
    display: block;
    height: 25px;
    width: 25px;
    color: #fff;
    left: 7px
}

.bootstrap .alert.alert-onboarding:before,.bootstrap #carrier_wizard .alert-onboarding.wizard_error:before {
    left: 25px;
    top: 40px;
    font-size: 98px
}

.bootstrap .alert.alert-onboarding .onboarding-step,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step {
    width: 100%;
    height: 2em
}

.bootstrap .alert.alert-onboarding .onboarding-step.step-success,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step.step-success {
    background-color: #25b9d7
}

.bootstrap .alert.alert-onboarding .onboarding-step.step-in-progress,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step.step-in-progress {
    background-image: -webkit-linear-gradient(45deg, #7ad6e8 25%, transparent 25%, transparent 50%, #7ad6e8 50%, #7ad6e8 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, #7ad6e8 25%, transparent 25%, transparent 50%, #7ad6e8 50%, #7ad6e8 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, #7ad6e8 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,#7ad6e8 50%,#7ad6e8 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-color: #25b9d7
}

.bootstrap .alert.alert-onboarding .onboarding-step.step-todo,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step.step-todo {
    background-color: #eee
}

.bootstrap .alert.alert-onboarding .onboarding-step.step-first,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step.step-first {
    -webkit-border-radius: 3em 0 0 3em;
    border-radius: 3em 0 0 3em
}

.bootstrap .alert.alert-onboarding .onboarding-step.step-final,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-step.step-final {
    -webkit-border-radius: 0 3em 3em 0;
    border-radius: 0 3em 3em 0
}

.bootstrap .alert.alert-onboarding h4,.bootstrap #carrier_wizard .alert-onboarding.wizard_error h4 {
    font-weight: 100;
    font-size: 2.1em;
    color: #383F50;
    margin-bottom: 0.4em
}

.bootstrap .alert.alert-onboarding p,.bootstrap #carrier_wizard .alert-onboarding.wizard_error p {
    font-size: 1.1em;
    color: #7d88a4;
    margin-bottom: 1em
}

.bootstrap .alert.alert-onboarding .onboarding-action-container,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .onboarding-action-container {
    padding-top: 3em
}

.bootstrap .alert.alert-onboarding hr,.bootstrap #carrier_wizard .alert-onboarding.wizard_error hr {
    border-color: #a5e3f0
}

.bootstrap .alert.alert-onboarding .progress,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .progress {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    height: 2em;
    box-shadow: none
}

.bootstrap .alert.alert-onboarding .progress-bar,.bootstrap #carrier_wizard .alert-onboarding.wizard_error .progress-bar {
    box-shadow: none
}