/******************************************************************************
						Home Page Slider
*******************************************************************************/
#widget-top {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 14px;
  max-width: 100%;
  max-height: 100%;
  height:auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-height: 200px;
  float: left; }
#widget-top h2 {
    margin-left: 10px; }
  @media (max-width: 767px) {
    #widget-top {
      width: 100%;
      max-width: 100%; } }
  #widget-top #myownr_form {
    margin: 10px;
    padding: 0; }
  #widget-top .homeslider-description {
    padding: 50px 50px;
    cursor: pointer; }
    #widget-top .homeslider-description h2 {
      font-size: 2.7em;
      color: white;
      margin: 0;
      padding: 0; }
    #widget-top .homeslider-description p {
      width: 50%;
      font-size: 1.15em;
      line-height: 1.3em;
      padding: 0.5em 0;
      color: white; }
    @media (min-width: 992px) {
	  .myownr_field_period, .myOwnSelectCat {
		display: inline-block;
		width:200px;
		padding:5px;
		margin-right:10px; }
	  .myownr_form {
		padding-left:20px; }
	  #widget-top-new .myownr_form {
		padding-left:0px; }
	  .myownr_field_validate {
		  display: inline-block; }
	}
    @media (max-width: 992px) {
      #widget-top .homeslider-description {
        padding: 20px;
        font-size: 0.8em; }
      .block .title_block:after, .block h4:after {
	    content: "" !important; }
	  .myownr_field, .myOwnSelectCat {
		display: block;
		width:200px;
		padding: 5px 10px; }
    }
    @media (max-width: 768px) {
      #widget-top #myownr_form {
        margin:20px;
        }
      #widget-top .homeslider-description p {
          font-size: 1.5em; }
    }
    @media (max-width: 480px) {
      #widget-top .myownr_buttons {
	      width:100%; }
      #widget-top #myownr_form {
        margin:10px; }
      #widget-top .myownr_field {
		display: block;
		width:100%;
		padding: 6px; }
      #widget-top h2 {
        margin-top: 8px;
		margin-bottom: 4px;
        font-size: 18px; }
      #widget-top .homeslider-description {
        padding: 30px;
        font-size: 0.5em; }
        #widget-top .homeslider-description p {
          font-size: 1.7em; }
    }


#myownr_overlay {
	position: absolute;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
	display:none;
	background: #FFF;
	padding: 3px;
	width: 320px;
}
@media (max-width: 480px) {
  #myownr_overlay {
	width: 100%;
	left:0px !important; }
}
#myownr_overlay .block .title_block, #myownr_overlay .block h4 {
	font-size: 12px;
	padding: 5px 10px;
	margin-bottom: 4px;
	border-top-width: 0px;
}

#bx-wrapper {
	display:block;
	padding-top:4px;
	position:absolute;
	z-index:2;
	margin:0px;
	width:100%;
}

#widget-top-new .myownr_buttons {
	background-color:#EBEBEB;
	padding:10px;
	display:block;
}
#widget-top-new .myownr_buttons i {
  color:#878787;
  float:right;
}
#widget-top-new .myownr_buttons .sel {
	float: right;
	margin-right:5px;
}
#widget-top-new #myownr_btn_validate {
  cursor: pointer;
  background-color:#2FB5D2;
  border-color:transparent;
  color:#fff;
  box-shadow:rgba(0, 0, 0, 0.0980392) 2px 2px 11px 0;
  font-weight:600;
  text-align: center;
  text-transform:uppercase;
}
#widget-top-new .myownr_disabledbtn {
	background-color: #AAA !important;
}
#widget-top .myownr_disabledbtn {
	background-color: #AAA !important;
}

#widget-top .myownr_buttons span.sel {
	color:#000;
	display: block;
	padding:1px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
#widget-top .myownr_buttons span.icon {
	color:rgb(102, 102, 102);;
	display: inline-block;
	padding:4px;
	font-size: 24px;
	text-align: left;
}
#widget-top .myownr_buttons span.content {
	display: inline-block;
	padding:0px;
	font-size: 12px;
	line-height: 12px;
}
#widget-top .myownr_buttons span.validate {
	display: inline-block;
	font-weight: bold;
	padding:0px;
	font-size: 14px;
	line-height: 30px;
	vertical-align: top;
}

#widget-top .myownr_field a, #widget-top .myownr_extra_field {
    display: block;
    overflow: hidden;
    cursor: pointer;
    font: 600 16px/35px "Open Sans", sans-serif;
    color: #555454;
    text-decoration: none;
    position: relative;
    border: 1px solid;
    height: 45px;
    border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
    background-image: -webkit-linear-gradient(#f7f7f7, #ededed);
    background-image: -moz-linear-gradient(#f7f7f7, #ededed);
    background-image: -o-linear-gradient(#f7f7f7, #ededed);
    background-image: linear-gradient(#f7f7f7, #ededed);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#widget-top .myownr_extra_field {
    display: inline-block;
}
#widget-top .myownr_field a.myownr_disabledbtn {
	border-color: #6b6b6b #909090 #6b6b6b #909090;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #949494), color-stop(100%, #f7f7f7));
    background-image: -webkit-linear-gradient(#949494, #f7f7f7);
    background-image: -moz-linear-gradient(#949494, #f7f7f7);
    background-image: -o-linear-gradient(#949494, #f7f7f7);
    background-image: linear-gradient(#949494, #525252);
}
#widget-top .myownr_field a i, #widget-top .myownr_extra_field > i {
    font-size: 25px;
    color: #fd7e01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 8px 0 0 0;
    text-align: center;
    border: 0px none;
    border-right: 1px solid white;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#widget-top .myownr_field a i, #widget-top .myownr_extra_field > i {
	width: 46px;
}
#widget-top .myownr_field a.myownr_disabledbtn i {
    border: 0px none;
    border-right: 1px solid #b6b6b6;
}

#widget-top .myownr_field a div.content, #widget-top .myownr_extra_field div.content {
    display: block;
    line-height: 1;
    margin: 0px;
}
#widget-top .myownr_field a span.label, #widget-top .myownr_extra_field span.label {
	margin-left: 46px;
}
#widget-top .myownr_field a span.label, #widget-top .myownr_extra_field .attendee_type, #widget-top .myownr_extra_field span.label {
    display: inline-block;
    font-size: 12px;
    line-height: 8px !important;
    overflow-x: hidden;
    color :rgb(102, 102, 102);
    text-shadow: 0px 1px white;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0px;
    padding: 6px 10px;
}
#widget-top .myownr_extra_field .attendee_type {
	display: block;
	padding: 3px 8px;
}
#widget-top .myownr_field a.myownr_disabledbtn span.label {
    text-shadow: 0px 0px black;
    color :rgba(59,59,59,1);
}
#widget-top .myownr_field a span.sel {
	display: inline-block;
    font-size: 13px;
    color: #000 !important;
    line-height: 14px !important;
 	line-height: 1;
 	color :rgb(102, 102, 102);
 	margin-left:50px;
}
#widget-top .myownr_field a span.action {
	display: block;
 	padding: 14px 3px;
 	line-height: 1;
 	margin-left:50px;
}

#widget-top .myownr_form .attendee_qty_block {
	float:left;
	padding-right: 10px;
}
#widget-top .myownr_form .myownr_field {
	padding-right: 10px;
}
#widget-top .myownr_field .attendee_quantity_down, #widget-top .myownr_field .attendee_quantity_up {
	width: 50px;
	display: inline-block;
}
.myownr_form #extraSel, .myownr_form #extraQty {
	display: block;
	padding: 2px 5px;
}
#widget-top-new .myownr_form #extraSel, #widget-top-new .myownr_form #extraQty {
	display: inline-block;
	padding: 0;
}
#widget-top-new .myownr_field_category, #widget-top-new .myownr_field_validate {
	display: inline-block;
}
#widget-top .attendee_qty_block div {
	line-height: 25px;
}
.myownr_form #extraSel .myownr_field {
	margin-left: 30px;
}
