          <tr class="itemmyowndeliveries">
              <table id="timeSlotTableNo"  class="timeSlotTableNo" width="100%">
                  <tr align="left" width="100%" class="item">
                      <td align="center">{$carrierName} {$noticetype} : {$deliveryMsgHtml}</td>
                  </tr>
              </table>              
          <tr/>