{*
*  Please read the terms of the CLUF license attached to this module(cf "licences" folder)
*
*  @author    Línea Gráfica E.C.E. S.L.
*  @copyright Lineagrafica.es - Línea Gráfica E.C.E. S.L. all rights reserved.
*  @license   https://www.lineagrafica.es/licenses/license_en.pdf https://www.lineagrafica.es/licenses/license_es.pdf https://www.lineagrafica.es/licenses/license_fr.pdf
*}

<li class="lnk_lg_comment">
    <a href="{$link->getModuleLink('lgcomments', 'accountreviews', [], true)|escape:'html':'UTF-8'}" title="{l s='My reviews' mod='lgcomments'}">
        <i class="icon-star"></i>
        <span>
        {l s='My reviews' mod='lgcomments'}
        </span>
    </a>
</li>
