@font-face {
  font-family: 'myprestamodules-font';
  src:  url('../fonts/myprestamodules-font.eot?g2ld7c');
  src:  url('../fonts/myprestamodules-font.eot?g2ld7c#iefix') format('embedded-opentype'),
    url('../fonts/myprestamodules-font.ttf?g2ld7c') format('truetype'),
    url('../fonts/myprestamodules-font.woff?g2ld7c') format('woff'),
    url('../fonts/myprestamodules-font.svg?g2ld7c#myprestamodules-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="m-"], [class*=" m-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'myprestamodules-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-add:before {
  content: "\e900";
}
.m-alarm-clock:before {
  content: "\e901";
}
.m-arrow_left:before {
  content: url('/img/back.png');
}
.m-arrow_right:before {
  content: url('/img/next.png');
}
.m-arrow-point-to-left:before {
  content: "\e904";
}
.m-arrow-point-to-right:before {
  content: "\e905";
}
.m-atomic:before {
  content: "\e906";
}
.m-avatar:before {
  content: "\e907";
}
.m-badge:before {
  content: "\e908";
}
.m-balloons:before {
  content: "\e909";
}
.m-bar-chart:before {
  content: "\e90a";
}
.m-battery:before {
  content: "\e90b";
}
.m-battery-1:before {
  content: "\e90c";
}
.m-bell:before {
  content: "\e90d";
}
.m-bills:before {
  content: "\e90e";
}
.m-black-back-closed-envelope-shape:before {
  content: "\e90f";
}
.m-bluetooth:before {
  content: "\e910";
}
.m-book:before {
  content: "\e911";
}
.m-bookmark:before {
  content: "\e912";
}
.m-box:before {
  content: "\e913";
}
.m-box-1:before {
  content: "\e914";
}
.m-box-2:before {
  content: "\e915";
}
.m-box-3:before {
  content: "\e916";
}
.m-box-4:before {
  content: "\e917";
}
.m-box-5:before {
  content: "\e918";
}
.m-calculator:before {
  content: "\e919";
}
.m-calendar:before {
  content: "\e91a";
}
.m-cancel:before {
  content: "\e91b";
}
.m-cancel_2:before {
  content: "\e91c";
}
.m-car:before {
  content: "\e91d";
}
.m-cash:before {
  content: "\e91e";
}
.m-chat:before {
  content: "\e91f";
}
.m-chat-1:before {
  content: "\e920";
}
.m-check:before {
  content: "\e921";
}
.m-checked:before {
  content: "\e922";
}
.m-clock:before {
  content: "\e923";
}
.m-clock-2:before {
  content: "\e924";
}
.m-close:before {
  content: "\e925";
}
.m-cloud:before {
  content: "\e926";
}
.m-cloud-computing:before {
  content: "\e927";
}
.m-cloud-computing-1:before {
  content: "\e928";
}
.m-coin:before {
  content: "\e929";
}
.m-coins:before {
  content: "\e92a";
}
.m-communication:before {
  content: "\e92b";
}
.m-communication-1:before {
  content: "\e92c";
}
.m-communication-2:before {
  content: "\e92d";
}
.m-communication-3:before {
  content: "\e92e";
}
.m-communication-4:before {
  content: "\e92f";
}
.m-communication-5:before {
  content: "\e930";
}
.m-communication-6:before {
  content: "\e931";
}
.m-compass:before {
  content: "\e932";
}
.m-credit-card:before {
  content: "\e933";
}
.m-cursor:before {
  content: "\e934";
}
.m-cursor-1:before {
  content: "\e935";
}
.m-cursor-2:before {
  content: "\e936";
}
.m-cut:before {
  content: "\e937";
}
.m-cutlery:before {
  content: "\e938";
}
.m-delete:before {
  content: "\e939";
}
.m-delivery:before {
  content: "\e93a";
}
.m-dislike:before {
  content: "\e93b";
}
.m-dollar-symbol:before {
  content: "\e93c";
}
.m-dollar-symbol-1:before {
  content: "\e93d";
}
.m-dollar-symbol-2:before {
  content: "\e93e";
}
.m-dollar-symbol-3:before {
  content: "\e93f";
}
.m-dollar-symbol-4:before {
  content: "\e940";
}
.m-dollar-symbol-5:before {
  content: "\e941";
}
.m-down-arrow:before {
  content: "\e942";
}
.m-download:before {
  content: "\e943";
}
.m-download-1:before {
  content: "\e944";
}
.m-download-2:before {
  content: "\e945";
}
.m-downloading-action:before {
  content: "\e946";
}
.m-driver-license:before {
  content: "\e947";
}
.m-edit:before {
  content: "\e948";
}
.m-edit-button:before {
  content: "\e949";
}
.m-email:before {
  content: "\e94a";
}
.m-email-1:before {
  content: "\e94b";
}
.m-envelope:before {
  content: "\e94c";
}
.m-eraser:before {
  content: "\e94d";
}
.m-error:before {
  content: "\e94e";
}
.m-error-circle:before {
  content: "\e94f";
}
.m-expand:before {
  content: "\e950";
}
.m-expand-1:before {
  content: "\e951";
}
.m-export:before {
  content: "\e952";
}
.m-external-link-symbol:before {
  content: "\e953";
}
.m-eye:before {
  content: "\e954";
}
.m-fast-forward:before {
  content: "\e955";
}
.m-favorite:before {
  content: "\e956";
}
.m-favorites:before {
  content: "\e957";
}
.m-file:before {
  content: "\e958";
}
.m-file-1:before {
  content: "\e959";
}
.m-file-2:before {
  content: "\e95a";
}
.m-file-3:before {
  content: "\e95b";
}
.m-filter:before {
  content: "\e95c";
}
.m-flag:before {
  content: "\e95d";
}
.m-folder:before {
  content: "\e95e";
}
.m-folder-1:before {
  content: "\e95f";
}
.m-forbidden:before {
  content: "\e960";
}
.m-gamepad:before {
  content: "\e961";
}
.m-grid-2:before {
  content: "\e962";
}
.m-headphones:before {
  content: "\e963";
}
.m-heart:before {
  content: "\e964";
}
.m-heart-1:before {
  content: "\e965";
}
.m-heart-2:before {
  content: "\e966";
}
.m-help-web-button:before {
  content: "\e967";
}
.m-home:before {
  content: "\e968";
}
.m-ic_check_black_18px:before {
  content: "\e969";
}
.m-ic_error_black_18px:before {
  content: "\e96a";
}
.m-ic_error_outline_black_18px:before {
  content: "\e96b";
}
.m-icon:before {
  content: "\e96c";
}
.m-id-card:before {
  content: "\e96d";
}
.m-idea:before {
  content: "\e96e";
}
.m-image:before {
  content: "\e96f";
}
.m-import:before {
  content: "\e970";
}
.m-import-1:before {
  content: "\e971";
}
.m-import-2:before {
  content: "\e972";
}
.m-inbox:before {
  content: "\e973";
}
.m-inclined-clip:before {
  content: "\e974";
}
.m-info:before {
  content: "\e975";
}
.m-information:before {
  content: "\e976";
}
.m-invoice:before {
  content: "\e977";
}
.m-key:before {
  content: "\e978";
}
.m-laptop:before {
  content: "\e979";
}
.m-layers:before {
  content: "\e97a";
}
.m-left-arrow:before {
  content: "\e97b";
}
.m-left-arrow-1:before {
  content: "\e97c";
}
.m-letter:before {
  content: "\e97d";
}
.m-levels:before {
  content: "\e97e";
}
.m-like:before {
  content: "\e97f";
}
.m-like-1:before {
  content: "\e980";
}
.m-like-2:before {
  content: "\e981";
}
.m-line-chart:before {
  content: "\e982";
}
.m-link-2:before {
  content: "\e983";
}
.m-list:before {
  content: "\e984";
}
.m-list-1:before {
  content: "\e985";
}
.m-list-2:before {
  content: "\e986";
}
.m-list-3:before {
  content: "\e987";
}
.m-list-4:before {
  content: "\e988";
}
.m-list-5:before {
  content: "\e989";
}
.m-location:before {
  content: "\e98a";
}
.m-location_2:before {
  content: "\e98b";
}
.m-login:before {
  content: "\e98c";
}
.m-logout:before {
  content: "\e98d";
}
.m-mail:before {
  content: "\e98e";
}
.m-mail-black-envelope-symbol:before {
  content: "\e98f";
}
.m-map:before {
  content: "\e990";
}
.m-mathematics:before {
  content: "\e991";
}
.m-medal:before {
  content: "\e992";
}
.m-megaphone:before {
  content: "\e993";
}
.m-menu:before {
  content: "\e994";
}
.m-menu-1:before {
  content: "\e995";
}
.m-menu-2:before {
  content: "\e996";
}
.m-menu-3:before {
  content: "\e997";
}
.m-menu-icon:before {
  content: "\e998";
}
.m-message:before {
  content: "\e999";
}
.m-message-1:before {
  content: "\e99a";
}
.m-message-2:before {
  content: "\e99b";
}
.m-microphone:before {
  content: "\e99c";
}
.m-minimize:before {
  content: "\e99d";
}
.m-minimize-1:before {
  content: "\e99e";
}
.m-minimize-2:before {
  content: "\e99f";
}
.m-minimize-3:before {
  content: "\e9a0";
}
.m-minus-symbol:before {
  content: "\e9a1";
}
.m-money:before {
  content: "\e9a2";
}
.m-money-bag:before {
  content: "\e9a3";
}
.m-monitor:before {
  content: "\e9a4";
}
.m-monitor-1:before {
  content: "\e9a5";
}
.m-more:before {
  content: "\e9a6";
}
.m-move:before {
  content: "\e9a7";
}
.m-move-1:before {
  content: "\e9a8";
}
.m-music:before {
  content: "\e9a9";
}
.m-mute:before {
  content: "\e9aa";
}
.m-networking:before {
  content: "\e9ab";
}
.m-new-file:before {
  content: "\e9ac";
}
.m-newspaper:before {
  content: "\e9ad";
}
.m-next:before {
  content: "\e9ae";
}
.m-next-1:before {
  content: "\e9af";
}
.m-organization:before {
  content: "\e9b0";
}
.m-orientation:before {
  content: "\e9b1";
}
.m-package:before {
  content: "\e9b2";
}
.m-package-1:before {
  content: "\e9b3";
}
.m-package-2:before {
  content: "\e9b4";
}
.m-package-3:before {
  content: "\e9b5";
}
.m-package-4:before {
  content: "\e9b6";
}
.m-package-5:before {
  content: "\e9b7";
}
.m-package-6:before {
  content: "\e9b8";
}
.m-package-7:before {
  content: "\e9b9";
}
.m-padlock:before {
  content: "\e9ba";
}
.m-padlock-1:before {
  content: "\e9bb";
}
.m-paint-brush:before {
  content: "\e9bc";
}
.m-paper-plane:before {
  content: "\e9bd";
}
.m-password:before {
  content: "\e9be";
}
.m-pause:before {
  content: "\e9bf";
}
.m-payment-method:before {
  content: "\e9c0";
}
.m-pen:before {
  content: "\e9c1";
}
.m-percentage:before {
  content: "\e9c2";
}
.m-phone:before {
  content: "\e9c3";
}
.m-phone_2:before {
  content: "\e9c4";
}
.m-photo-camera:before {
  content: "\e9c5";
}
.m-picture:before {
  content: "\e9c6";
}
.m-pie-chart:before {
  content: "\e9c7";
}
.m-pie-chart-1:before {
  content: "\e9c8";
}
.m-pie-chart-2:before {
  content: "\e9c9";
}
.m-piggy-bank:before {
  content: "\e9ca";
}
.m-piggy-bank-1:before {
  content: "\e9cb";
}
.m-piggy-bank-2:before {
  content: "\e9cc";
}
.m-placeholder:before {
  content: "\e9cd";
}
.m-planet-earth:before {
  content: "\e9ce";
}
.m-planet-earth2:before {
  content: "\e9cf";
}
.m-play-button:before {
  content: "\e9d0";
}
.m-play-down:before {
  content: "\e9d1";
}
.m-play-down-outline:before {
  content: "\e9d2";
}
.m-play-left:before {
  content: "\e9d3";
}
.m-play-left-outline:before {
  content: "\e9d4";
}
.m-play-right:before {
  content: "\e9d5";
}
.m-play-right-outline:before {
  content: "\e9d6";
}
.m-play-up:before {
  content: "\e9d7";
}
.m-play-up-outline:before {
  content: "\e9d8";
}
.m-plus:before {
  content: "\e9d9";
}
.m-plus-symbol:before {
  content: "\e9da";
}
.m-power-button:before {
  content: "\e9db";
}
.m-presentation:before {
  content: "\e9dc";
}
.m-previous:before {
  content: "\e9dd";
}
.m-previous-1:before {
  content: "\e9de";
}
.m-price-tag:before {
  content: "\e9df";
}
.m-printer:before {
  content: "\e9e0";
}
.m-profile:before {
  content: "\e9e1";
}
.m-profits:before {
  content: "\e9e2";
}
.m-question-error-bubble:before {
  content: "\e9e3";
}
.m-question-speech-bubble:before {
  content: "\e9e4";
}
.m-question-success-bubble:before {
  content: "\e9e5";
}
.m-reload:before {
  content: "\e9e6";
}
.m-remove:before {
  content: "\e9e7";
}
.m-repeat:before {
  content: "\e9e8";
}
.m-repeat-1:before {
  content: "\e9e9";
}
.m-repeat-2:before {
  content: "\e9ea";
}
.m-repeat-3:before {
  content: "\e9eb";
}
.m-repeat-4:before {
  content: "\e9ec";
}
.m-repeat-5:before {
  content: "\e9ed";
}
.m-repeat-6:before {
  content: "\e9ee";
}
.m-repeat-7:before {
  content: "\e9ef";
}
.m-repeat-8:before {
  content: "\e9f0";
}
.m-repeat-9:before {
  content: "\e9f1";
}
.m-return:before {
  content: "\e9f2";
}
.m-right-arrow:before {
  content: "\e9f3";
}
.m-right-arrow-1:before {
  content: "\e9f4";
}
.m-rss:before {
  content: "\e9f5";
}
.m-safebox:before {
  content: "\e9f6";
}
.m-save:before {
  content: "\e9f7";
}
.m-search:before {
  content: "\e9f8";
}
.m-settings:before {
  content: "\e9f9";
}
.m-settings-1:before {
  content: "\e9fa";
}
.m-share:before {
  content: "\e9fb";
}
.m-shield:before {
  content: "\e9fc";
}
.m-shop:before {
  content: "\e9fd";
}
.m-shopping-bag:before {
  content: "\e9fe";
}
.m-shopping-bag-1:before {
  content: "\e9ff";
}
.m-shopping-bag-2:before {
  content: "\ea00";
}
.m-shopping-bag-3:before {
  content: "\ea01";
}
.m-shopping-bag-4:before {
  content: "\ea02";
}
.m-shopping-bag-5:before {
  content: "\ea03";
}
.m-shopping-bag-6:before {
  content: "\ea04";
}
.m-shopping-bag-7:before {
  content: "\ea05";
}
.m-shopping-bag-8:before {
  content: "\ea06";
}
.m-shopping-bag-9:before {
  content: "\ea07";
}
.m-shopping-bag-10:before {
  content: "\ea08";
}
.m-shopping-basket:before {
  content: "\ea09";
}
.m-shopping-cart:before {
  content: "\ea0a";
}
.m-shopping-cart-1:before {
  content: "\ea0b";
}
.m-shopping-cart-2:before {
  content: "\ea0c";
}
.m-shopping-cart-3:before {
  content: "\ea0d";
}
.m-shopping-cart-4:before {
  content: "\ea0e";
}
.m-shopping-cart-5:before {
  content: "\ea0f";
}
.m-shopping-cart-6:before {
  content: "\ea10";
}
.m-shopping-cart-7:before {
  content: "\ea11";
}
.m-shopping-cart-8:before {
  content: "\ea12";
}
.m-shopping-cart-9:before {
  content: "\ea13";
}
.m-shuffle:before {
  content: "\ea14";
}
.m-smartphone:before {
  content: "\ea15";
}
.m-smartphone-1:before {
  content: "\ea16";
}
.m-sort:before {
  content: "\ea17";
}
.m-speaker:before {
  content: "\ea18";
}
.m-speakers:before {
  content: "\ea19";
}
.m-speech-bubble:before {
  content: "\ea1a";
}
.m-speech-bubble-1:before {
  content: "\ea1b";
}
.m-speech-bubble-2:before {
  content: "\ea1c";
}
.m-speech-bubble-3:before {
  content: "\ea1d";
}
.m-speech-bubble-4:before {
  content: "\ea1e";
}
.m-speech-bubble-5:before {
  content: "\ea1f";
}
.m-speech-bubble-6:before {
  content: "\ea20";
}
.m-speech-bubble-7:before {
  content: "\ea21";
}
.m-speech-bubble-8:before {
  content: "\ea22";
}
.m-speech-bubble-9:before {
  content: "\ea23";
}
.m-speech-bubble-10:before {
  content: "\ea24";
}
.m-speech-bubble-11:before {
  content: "\ea25";
}
.m-speech-bubble-12:before {
  content: "\ea26";
}
.m-speech-bubble-13:before {
  content: "\ea27";
}
.m-speech-bubble-14:before {
  content: "\ea28";
}
.m-speech-bubble-15:before {
  content: "\ea29";
}
.m-speech-bubble-16:before {
  content: "\ea2a";
}
.m-speech-bubble-17:before {
  content: "\ea2b";
}
.m-speech-bubble-18:before {
  content: "\ea2c";
}
.m-speech-bubble-19:before {
  content: "\ea2d";
}
.m-speech-bubble-20:before {
  content: "\ea2e";
}
.m-speech-bubble-21:before {
  content: "\ea2f";
}
.m-speech-bubble-22:before {
  content: "\ea30";
}
.m-speech-bubble-23:before {
  content: "\ea31";
}
.m-speech-bubble-24:before {
  content: "\ea32";
}
.m-speech-bubble-25:before {
  content: "\ea33";
}
.m-speech-bubble-26:before {
  content: "\ea34";
}
.m-speech-bubble-27:before {
  content: "\ea35";
}
.m-speech-bubble-28:before {
  content: "\ea36";
}
.m-star:before {
  content: "\ea37";
}
.m-star-2:before {
  content: "\ea38";
}
.m-sticker:before {
  content: "\ea39";
}
.m-sticker-1:before {
  content: "\ea3a";
}
.m-sticker-2:before {
  content: "\ea3b";
}
.m-sticker-3:before {
  content: "\ea3c";
}
.m-sticker-4:before {
  content: "\ea3d";
}
.m-stick-man:before {
  content: "\ea3e";
}
.m-stick-man-1:before {
  content: "\ea3f";
}
.m-stick-man-2:before {
  content: "\ea40";
}
.m-success:before {
  content: "\ea41";
}
.m-suitcase:before {
  content: "\ea42";
}
.m-tag:before {
  content: "\ea43";
}
.m-tag-2:before {
  content: "\ea44";
}
.m-tap:before {
  content: "\ea45";
}
.m-telephone:before {
  content: "\ea46";
}
.m-telephone-1:before {
  content: "\ea47";
}
.m-telephone-2:before {
  content: "\ea48";
}
.m-telephone-3:before {
  content: "\ea49";
}
.m-telephone-4:before {
  content: "\ea4a";
}
.m-telephone-5:before {
  content: "\ea4b";
}
.m-telephone-6:before {
  content: "\ea4c";
}
.m-telephone-7:before {
  content: "\ea4d";
}
.m-telephone-8:before {
  content: "\ea4e";
}
.m-thumbs-up:before {
  content: "\ea4f";
}
.m-tick:before {
  content: "\ea50";
}
.m-transfer:before {
  content: "\ea51";
}
.m-transfer-2:before {
  content: "\ea52";
}
.m-transfer-9:before {
  content: "\ea53";
}
.m-transfer-10:before {
  content: "\ea54";
}
.m-trash:before {
  content: "\ea55";
}
.m-trophy:before {
  content: "\ea56";
}
.m-truck:before {
  content: "\ea57";
}
.m-truck-1:before {
  content: "\ea58";
}
.m-up-arrow:before {
  content: "\ea59";
}
.m-upload:before {
  content: "\ea5a";
}
.m-upload-1:before {
  content: "\ea5b";
}
.m-upload-2:before {
  content: "\ea5c";
}
.m-user:before {
  content: "\ea5d";
}
.m-user-1:before {
  content: "\ea5e";
}
.m-user-2:before {
  content: "\ea5f";
}
.m-user-3:before {
  content: "\ea60";
}
.m-users:before {
  content: "\ea61";
}
.m-user-silhouette:before {
  content: "\ea62";
}
.m-wallet:before {
  content: "\ea63";
}
