.megabtn{
background: #E5E6E7;
border: solid 2px #D0D3D8;
padding: 1px;
margin: 2px;
float:left;
min-width:31px;
}
.ma-selected{
	border:#F00 solid 2px;
}
.ma-disabled{
	background-image: url(agotado.png) !important;
	background-repeat:no-repeat;
	color:red;
}
#attributes .attribute_list .form-control option.ma-disabled{color:red;}
.ma-noexist{
	background: white;
}
#primary_block a.color_pick { /*height:50px!important; width:50px!important*/}
.colorpicker-tooltip img {
    max-height: 300px;
    max-width: 300px;
}
 