#attributes apwl_attributes_group{}
#attributes p{}
#attributes label {clear:both;}
#attributes label.atributo-label {
	float:left;
	display:block;
	width:300px;
	clear:both;
	}
.apwl_attributes_group .attribute_not_available{
    width:62px;
	height:40px;
	float:left;
	font-size:20px;
	margin:0 6px 6px 0;
	border:1px solid #999;
	font-weight:800;
	color:#cfcfcf;
	background: transparent url('agotado.png') no-repeat top right;}
.apwl_attributes_group .attribute_available{
    color: #fff;
	font-weight:800;
	width:60px;
	height:40px;
	background-color:#666;
	border:1px solid #999;
	float:left;
	margin:0 6px 6px 0;}

.apwl_attributes_group .attribute_selected{
    color: #000;
	font-weight:800;
	width:62px;
	height:40px;
	background-color:#999;
	border:1px solid #666;
	float:left;
	margin:0 6px 6px 0;}

div.leyenda{float:left;	}
div.leyenda span.disponible{background: transparent url('disponible.gif') no-repeat top left;
	display:block;
	float:left;
	height:30px;
	font-size:13px;
	line-height:30px;
	padding-left:40px;
	margin-bottom:5px;}
div.leyenda span.agotado{background: transparent url('agotado.gif') no-repeat top left;
	display:block;
	float:left;
	height:30px;
	font-size:13px;
	line-height:30px;
	padding-left:40px;
	margin-bottom:10px;}
	
div#aclaracion{ margin-bottom:10px;}
div#aclaracion h5{
	color:#fff;
	font-size:18px;}
div#aclaracion p{
	color:#fff;
	font-size:13px;}