{if $MENU != ''}
	<!-- Menu -->
	<div id="block_top_menu" class="sf-contener clearfix col-lg-12">
		<div class="cat-title">{l s="Menu" mod="blocktopmenu"}</div>
		<div id="header_logo">
			<a href="{if isset($force_ssl) && $force_ssl}{$base_dir_ssl}{else}{$base_dir}{/if}" title="{$shop_name|escape:'html':'UTF-8'}">
				<img class="logo img-responsive" src="{if isset($page_name) && $page_name == 'index'}/img/xxx-logo-white.jpg{else}{$logo_url}{/if}" alt="{$shop_name|escape:'html':'UTF-8'}"{if isset($logo_image_width) && $logo_image_width} width="{$logo_image_width}"{/if}{if isset($logo_image_height) && $logo_image_height} height="{$logo_image_height}"{/if}/>
			</a>
		</div>
		<ul class="sf-menu clearfix menu-content">
			{$MENU}

				{if !$logged}
				<li class="left-radius">
					<a href="/login?create_account=1">
						{l s='Registrati'}
					</a>
				</li>
					{else}
					<li class="left-radius">
						<a href="{$link->getPageLink('cart')|escape:'html':'UTF-8'}">
							{l s='Carrello'}
						</a>
	</li>
				{/if}


			<li class="right-radius">
				<a href="/account">
					{if !$logged}

						{l s='Accedi'}

						{else}
					{l s='Profilo'}
					{/if}
				</a>
			</li>
			{if $MENU_SEARCH}
				<li class="sf-search noBack" style="float:right">
					<form id="searchbox" action="{$link->getPageLink('search')|escape:'html':'UTF-8'}" method="get">
						<p>
							<input type="hidden" name="controller" value="search" />
							<input type="hidden" value="position" name="orderby"/>
							<input type="hidden" value="desc" name="orderway"/>
							<input type="text" name="search_query" value="{if isset($smarty.get.search_query)}{$smarty.get.search_query|escape:'html':'UTF-8'}{/if}" />
						</p>
					</form>
				</li>
			{/if}
		</ul>

	</div>
	<!--/ Menu -->
{/if}
